<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose>
    <p *ngFor = "let menu of navMenus" style="text-align: center">
      <button mat-stroked-button routerLink={{menu.path}} (click) = "sidenav.close()">{{menu.name}}</button>  
    </p>
    <!-- <p>      
      <button mat-button [routerLink]="['print']" [queryParams]="{ patientId:1 , prescriptionId:12}" (click) = "sidenav.close()">Print</button>
    </p> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="block">
      <button class="menuButton" mat-fab (click)="sidenav.open()">
          <mat-icon aria-label="Example icon-button with a heart icon">home</mat-icon>
      </button>
    </div>
    <div class="block2">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/admin">Admin</a>
</nav> -->

