<!-- Section to create presciption -->
<mat-card class="example-card-parent">

  <mat-tab-group [selectedIndex]="prescriptionFromControl.value" (selectedIndexChange)="prescriptionFromControl.setValue($event)"
    (selectedTabChange)="loadTabSpecificData($event.index)" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="Basic Info">
      <mat-card class="example-card">
        <mat-card-content>
          <table>
            <tr>
              <td>
                <i>Search by Patient details</i>
              </td>
            </tr>
            <tr>
              <td>
                <!-- First Name -->
                <div class="example-container example-margin">
                  <mat-form-field hintLabel="Min {{minCharToSearch}} char to search">
                    <input matInput cdkFocusInitial maxlength=20 placeholder="First name" [(ngModel)]="selectedPatient.firstName"
                      (keyup)='fetchPatient($event)'>
                    <mat-hint align="end">{{selectedPatient.firstName?.length || 0}}/20</mat-hint>
                  </mat-form-field>
                </div>
              </td>
              <td>
                <!-- Last Name -->
                <div class="example-container example-margin">
                  <mat-form-field hintLabel="Min {{minCharToSearch}} char to search">
                    <input matInput maxlength=20 placeholder="Last name" [(ngModel)]="selectedPatient.lastName" (keyup)='fetchPatient($event)'>
                    <mat-hint align="end">{{selectedPatient.lastName?.length || 0}}/20</mat-hint>
                  </mat-form-field>
                </div>
              </td>
              <td>
                <!-- Date of birth -->
                <div class="example-container example-margin">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Select from calender" (dateChange)="dateValidate($event)"
                      disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </td>
              <td>
                <!-- Search patients -->
                <div class="example-margin">
                  <button mat-mini-fab color="primary" (click)="fetchPatient($event)" matTooltip="Search">
                    <mat-icon aria-label="Search">search</mat-icon>
                  </button>
                </div>
              </td>
              <td>
                <!-- Reset all details -->
                <div class="example-margin">
                  <button mat-mini-fab color="primary" (click)="refreshSearch()" matTooltip="Refresh">
                    <mat-icon aria-label="Refresh">refresh</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <mat-divider></mat-divider>
              </td>
            </tr>
            <tr>
              <td>
                <i>Search by Prescription number</i>
              </td>
            </tr>
            <tr>
              <td>
                <!-- Prescription id -->
                <div class="example-container example-margin">
                  <mat-form-field>
                    <input matInput maxlength=20 placeholder="Enter Prescription ID" [(ngModel)]="prescriptionId">
                    <mat-hint align="end">Enter in number</mat-hint>
                  </mat-form-field>
                </div>
              </td>
              <td>
                <div class="example-margin">
                  <button mat-mini-fab color="primary" (click)="searchPrescription()" matTooltip="Search">
                    <mat-icon aria-label="Search">pageview</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
          </table>
          <!-- Loading progressbar -->
          <mat-progress-bar *ngIf="isPatientLoading" color="color" mode="indeterminate"></mat-progress-bar>
          <!-- Patient list -->
          <div *ngIf="isPatientLoaded">
            <table mat-table [dataSource]="patientDataSource" multiTemplateDataRows class="mat-elevation-z8">
              <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
              </ng-container>

              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                  <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="example-element-diagram">
                      <div class="example-element-position"> {{element.firstName}} </div>
                      <div class="example-element-symbol"> {{element.lastName}} </div>
                      <div class="example-element-name"> {{element.age}} </div>
                      <div class="example-element-weight"> {{element.contactNo1}} </div>
                      <!-- <span>Image placeholder</span> -->
                    </div>
                    <div class="example-element-description">
                      <p>
                        {{element.address1}}
                      </p>
                      <p>
                        {{element.address2}}
                      </p>
                      <p>
                        <!-- <span class="example-element-description-attribution"> -- Wikipedia </span> -->
                        <button mat-raised-button color="primary" (click)="selectedElement(expandedElement)">
                          Select <mat-icon aria-label="Select">check_circle_outline</mat-icon>
                        </button>
                      </p>
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element" (mouseenter)="mouseOverFn(element)">
                <!-- (mouseout)="mouseOutFn(expandedElement)" -->
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
          </div>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>

    </mat-tab>

    <!-- 
      *******************************************************************************************
      *******************************************************************************************
      ********************************* History Section *****************************************
      *******************************************************************************************
      *******************************************************************************************
     -->

    <mat-tab label="History" [disabled]="disableTabs">

      <!-- Dashboard view -->
      <div *ngIf="dashboardDataSource.data && dashboardDataSource.data.length > 0">
        <table mat-table [dataSource]="dashboardDataSource" class="mat-elevation-z8">

          <!-- ['Date','C/F', 'Treatment Plan', 'Treatment Done', 'Due', 'Next Appo'] -->
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Date </th>
            <td mat-cell *matCellDef="let dv"> {{ dv.pHistory.tsCreated | date:'dd/MM/yy hh:mm a' }}</td>
          </ng-container>

          <ng-container matColumnDef="C/F">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> C/F </th>
            <td mat-cell *matCellDef="let dv">
              <!--  {{ dv.pHistory.clinicalFindings }} getOrderedClinicalFindings -->
              <ul>
                <li style="list-style: none;" *ngFor="let cf of getOrderedClinicalFindings(dv.pHistory.clinicalFindings)">{{
                  cf }}</li>
              </ul>
            </td>
          </ng-container>

          <ng-container matColumnDef="Treatment Plan">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Treatment Plan </th>
            <td mat-cell *matCellDef="let dv; let i = index;">
              <ul>
                <li style="list-style: none;" *ngFor="let tpv of dv.tphv">{{ tpv.tname }} - {{ tpv.toothIndex }}</li>
              </ul>
            </td>
          </ng-container>

          <ng-container matColumnDef="Treatment Done">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Treatment Done </th>
            <td mat-cell *matCellDef="let dv; let i = index;">
              <ul>
                <li style="list-style: none;" *ngFor="let tph of getTreatmentDoneHistoryView(dv.tphv)">{{ tph.tname }}</li>
              </ul>
            </td>
          </ng-container>

          <ng-container matColumnDef="Due">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Due </th>
            <td mat-cell *matCellDef="let dv; let i = index;">
              {{ getDueFee(dv.fbl) }}
              <!-- <ul >
                <li style="list-style: none;" *ngFor="let fb of dv.fbl">{{ fb.amount }}</li>
              </ul>    -->
            </td>
          </ng-container>

          <!-- Next Appo -->
          <ng-container matColumnDef="Next Appo">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Next Appo </th>
            <td mat-cell *matCellDef="let dv; let i = index;">
              {{ dv.pHistory.nextAppointment | date:'dd/MM/yy hh:mm a' }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="dashboardHistoryListColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: dashboardHistoryListColumns;" (click)="selectPrescription(row)"></tr>
        </table>
      </div>
    </mat-tab>

    <!-- 
      *******************************************************************************************
      *******************************************************************************************
      ********************************* Prescription Section ************************************
      *******************************************************************************************
      *******************************************************************************************
     -->
    <mat-tab label="Prescription" [disabled]="disableTabs">
      <mat-card id="printableContent1" class="example-card">
        <mat-card-content>
          <div class="fab">
            <button mat-mini-fab color="primary" (click)="resetPrescriptionData()" matTooltip="Reset">
              <mat-icon aria-label="Reset">restore</mat-icon>
            </button>
          </div>
          <mat-form-field class="example-full-width">
            <textarea matInput [disabled]="checkIfDisabledToModify()" placeholder="Chief complaint" [(ngModel)]="prescriptionHistoryView.chiefComplaint"
              cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
            <button mat-button *ngIf="prescriptionHistoryView.chiefComplaint" matSuffix mat-icon-button aria-label="Clear"
              (click)="prescriptionHistoryView.chiefComplaint=''" matToolTip="Clear" [disabled]="checkIfDisabledToModify()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <!-- <button mat-button matPrefix mat-icon-button aria-label="Add" (click)="openDialog()" matToolTip="Add" 
              [disabled]="checkIfDisabledToModify()">
              <mat-icon>add_circle_outline</mat-icon>
            </button> -->
            <!-- <textarea matInput placeholder="Chief findings" disabled [(ngModel)]="clinicalFindingsView" cdkTextareaAutosize
              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea> -->
            <mat-chip-list #chipList1>
              <mat-chip *ngFor="let s of clinicalFindingsViewForUi" selectable="false" removable="false">
                {{s}}
              </mat-chip>
              <input (click)="openDialog()" (keydown)="openDialog()" placeholder="Add C/F" [matChipInputFor]="chipList1"
                matChipInputAddOnBlur="true" [disabled]="checkIfDisabledToModify()">
            </mat-chip-list>
          </mat-form-field>

          <table>
            <tr>
              <td>
                <!-- Medical History -->
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Medical History" [formControl]="medicalHistoryForm" [(ngModel)]="medicalHistoryViewModel"
                    multiple class="example-full-width" [disabled]="checkIfDisabledToModify()">
                    <mat-option *ngFor="let mh of mhList" [value]="mh">{{mh}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- Loading progressbar -->
                <mat-progress-bar *ngIf="mhList == null || mhList?.length <= 0" color="color" mode="indeterminate"></mat-progress-bar>
              </td>
              <td>
                <!-- Investigation -->
                <mat-form-field hintLabel="Max 30 characters" class="example-full-width">
                  <input matInput [maxlength]="30" placeholder="Investigation" [(ngModel)]="prescriptionHistoryView.investigation"
                    [disabled]="checkIfDisabledToModify()">
                  <mat-hint align="end">{{prescriptionHistoryView.investigation?.length || 0}}/30</mat-hint>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <!-- provisionalDiagnosis -->
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Provisional diagnosis" [(ngModel)]="prescriptionHistoryView.provisionalDiagnosis"
              cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [disabled]="checkIfDisabledToModify()"></textarea>
            <button mat-button *ngIf="prescriptionHistoryView.provisionalDiagnosis" matSuffix mat-icon-button
              aria-label="Clear" (click)="prescriptionHistoryView.provisionalDiagnosis=''" matToolTip="Clear"
              [disabled]="checkIfDisabledToModify()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <!-- Treatment Plan -->
          <!-- <mat-form-field class="example-full-width">
            <mat-chip-list #chipListtrtmnt>
              <mat-chip *ngFor="let s of treatmentPlanListView" selectable="true" removable="true" (removed)="removeChip(s,1)">
                {{s}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input placeholder="Treatment Plan" [matChipInputFor]="chipListtrtmnt" matChipInputAddOnBlur="true"
                (matChipInputTokenEnd)="addTreatmentPlan($event)" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
            </mat-chip-list>
          </mat-form-field> -->

          <!-- Treatment plan -->
          <span class="example-margin">Advised Treatment plan</span>
          <div *ngIf="cftMapArray && cftMapArray.length > 0">
            <table mat-table [dataSource]="trtmntPlanListDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="cf">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> C/F </th>
                <td mat-cell *matCellDef="let cftMap"> {{cftMap.clinicalFinding.fname}} </td>
              </ng-container>

              <ng-container matColumnDef="teeth">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> Tooth </th>
                <td mat-cell *matCellDef="let cftMap"> {{cftMap.teeth.toothIndex}}
                </td>
              </ng-container>

              <ng-container matColumnDef="plan">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> Plan </th>
                <td mat-cell *matCellDef="let cftMap; let i = index;">
                  <mat-form-field class="example-full-width">
                    <div *ngIf="!checkIfDisabledToModify()">
                      <mat-select placeholder="Select Treatment Plan" [formControl]="treatmentPlanFormControl" class="example-full-width"
                        (selectionChange)="updateTrtmntPlanSelect($event.value, i)" [disabled]="checkIfDisabledToModify()">
                        <!-- [(value)] = cftMap.treatmentPlanName -->
                        <mat-option *ngFor="let tpl of treatmentPlanList" [value]="tpl.trtName">{{tpl.trtName}}</mat-option>
                      </mat-select>
                    </div>
                    <div *ngIf="checkIfDisabledToModify()">
                      <textarea matInput placeholder="Treatment Plans" cdkTextareaAutosize cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5" disabled>{{cftMap.treatmentPlanViewModel}}</textarea>
                    </div>
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="newPlan">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> New Plan </th>
                <td mat-cell *matCellDef="let cftMap; let i = index;">
                  <input class="example-full-width" style="text-align:center" *ngIf="cftMap.customTrtmntPlan" matInput
                    placeholder="Custom plan" (input)="updateTrtmntPlanI($event.target.value, i)" required [disabled]="checkIfDisabledToModify()">
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="trtmntPlanListViewColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: trtmntPlanListViewColumns;"></tr>
            </table>
          </div>

          <!-- advice -->
          <mat-form-field class="example-full-width example-grid-margin">
            <textarea matInput placeholder="Advice" [(ngModel)]="prescriptionHistoryView.advice" cdkTextareaAutosize
              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [disabled]="checkIfDisabledToModify()"></textarea>
            <button mat-button *ngIf="prescriptionHistoryView.advice" matSuffix mat-icon-button aria-label="Clear"
              (click)="prescriptionHistoryView.advice=''" matToolTip="Clear" [disabled]="checkIfDisabledToModify()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <!-- Previous Medicines -->
          <div *ngIf="checkIfDisabledToModify()">
            <mat-form-field class="example-full-width example-grid-margin">
              <textarea matInput placeholder="Previous Medicines" [(ngModel)]="medicineHistoryViewModel"
                cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [disabled]="checkIfDisabledToModify()">
              </textarea>
            </mat-form-field>
          </div>

          <!-- Medicine -->
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Add Medicine" [formControl]="medicineForm" multiple class="example-full-width">
              <mat-option *ngFor="let mh of medicineMasterViewList" [value]="mh">{{mh.medicineName}} {{mh.dosage}}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Next appointment -->
          <table>
            <tr>
              <td>
                <span>Next appo</span>
              </td>
              <td class="example-full-width">
                <mat-form-field>
                  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="nextAppoPicker" placeholder="Date"
                    (dateChange)="createNextAppo($event)">
                  <!-- <mat-datepicker-toggle matSuffix [for]="nextAppoPicker"></mat-datepicker-toggle> -->
                  <mat-datepicker #nextAppoPicker></mat-datepicker>
                </mat-form-field>
                <button mat-raised-button (click)="nextAppoPicker.open()">Choose Date</button>
              </td>
              <td class="example-full-width">
                <mat-form-field hintLabel="Enter in digits">
                  <input matInput maxlength="2" type="number" min=0 max=24 placeholder="Hour" [(ngModel)]="nextAppoHour"
                    (change)="createNextAppoTime()">
                </mat-form-field>
              </td>
              <td class="example-full-width">
                <mat-form-field hintLabel="Enter in digits">
                  <input matInput maxlength="2" type="number" min=0 max=59 placeholder="Minute" [(ngModel)]="nextAppoMinute"
                    (change)="createNextAppoTime()">
                </mat-form-field>
              </td>
            </tr>
          </table>

          <div>
            <div class="example-margin" align="right">
              <span>Add Fee</span>
              <button mat-icon-button color="primary" (click)="addCustomFee()">
                <mat-icon aria-label="">add_circle</mat-icon>
              </button>
            </div>
            <div *ngIf="feesConfigListView && feesConfigListView.length > 0">
              <table mat-table [dataSource]="feesConfigListDataSource" class="mat-elevation-z8">
                <!-- column list -->
                <!-- Id Column -->
                <ng-container matColumnDef="treatmentPlanId">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> # </th>
                  <td mat-cell *matCellDef="let fee"> {{fee.treatmentPlanId}} </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <!-- baseFee Column -->
                <ng-container matColumnDef="baseFee">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> Base </th>
                  <td mat-cell *matCellDef="let fee"> {{fee.baseFee}} </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <!-- ageGroupId Column -->
                <ng-container matColumnDef="ageGroupId">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> AgeGrp </th>
                  <td mat-cell *matCellDef="let fee"> {{fee.ageGroupId}} </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <!-- ageGroupPercent Column -->
                <ng-container matColumnDef="ageGroupPercent">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> % </th>
                  <td mat-cell *matCellDef="let fee"> {{fee.ageGroupPercent}} </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <!-- toothGroupId Column -->
                <ng-container matColumnDef="toothGroupId">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> ToothGrp </th>
                  <td mat-cell *matCellDef="let fee" style="text-align:center"> {{fee.toothGroupId}} </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <!-- toothGroupPercent Column -->
                <ng-container matColumnDef="toothGroupPercent">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> % </th>
                  <td mat-cell *matCellDef="let fee"> {{fee.toothGroupPercent}} </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <!-- totalFee Column -->
                <ng-container matColumnDef="totalFee">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> Fee </th>
                  <td mat-cell *matCellDef="let fee">
                    <mat-form-field>
                      <input matInput type="number" min=1 [(ngModel)]="fee.totalFee" (change)="getTotalFee()" style="text-align:center"
                        [disabled]="checkIfDisabledToModify()">
                    </mat-form-field>
                  </td>
                  <td mat-footer-cell *matFooterCellDef> Total {{totalFees | currency:'&#8377;' }}</td>
                </ng-container>

                <!-- amountPaid Column -->
                <ng-container matColumnDef="amountPaid">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> Paid </th>
                  <td mat-cell *matCellDef="let fee">
                    <mat-form-field>
                      <input matInput type="number" min=1 [(ngModel)]="fee.amountPaid" (change)="getTotalFee()" style="text-align:center">
                    </mat-form-field>
                  </td>
                  <td mat-footer-cell *matFooterCellDef> Paid {{totalPaidFees | currency:'&#8377;' }}</td>
                </ng-container>

                <!-- notes Column -->
                <ng-container matColumnDef="notes">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> Note </th>
                  <td mat-cell *matCellDef="let fee">
                    <mat-form-field>
                      <input matInput [(ngModel)]="fee.notes" style="text-align:center">
                    </mat-form-field>
                    <button mat-button matSuffix mat-icon-button aria-label="Remove" (click)="removeFees($index)"
                      matToolTip="Remove" [disabled]="checkIfDisabledToModify()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </td>
                  <td mat-footer-cell *matFooterCellDef style="color: red;"> Due {{totalDueFees | currency:'&#8377;' }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="feesConfigListViewColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: feesConfigListViewColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="feesConfigListViewColumns; sticky: true"></tr>
              </table>
            </div>
          </div>

          <!-- Note -->
          <div class="example-margin">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Notes" [(ngModel)]="prescriptionHistoryView.note" cdkTextareaAutosize
                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [disabled]="checkIfDisabledToModify()"></textarea>
              <button mat-button *ngIf="prescriptionHistoryView.note" matSuffix mat-icon-button aria-label="Clear"
                (click)="prescriptionHistoryView.note=''" matToolTip="Clear" [disabled]="checkIfDisabledToModify()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <!-- Printable notes -->
          <div class="example-margin">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Notes to be printed" [(ngModel)]="prescriptionHistoryView.printableNotes"
                cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [disabled]="checkIfDisabledToModify()"></textarea>
              <button mat-button *ngIf="prescriptionHistoryView.printableNotes" matSuffix mat-icon-button aria-label="Clear"
                (click)="prescriptionHistoryView.printableNotes=''" matToolTip="Clear" [disabled]="checkIfDisabledToModify()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div>
            <a>Save Prescription </a>
            <button class="example-margin" mat-mini-fab color="primary" (click)="createAndSubmitPrescription()" matTooltip="Upload" [disabled]="checkIfDisabledToModify()">
              <mat-icon aria-label="Upload">cloud_upload</mat-icon>
            </button>
          
            <a>      Print Prescription </a>
            <button class="example-margin" mat-mini-fab color="primary" (click)="printPrescription()" matTooltip="Print" [disabled]="!checkIfDisabledToModify()">
              <mat-icon aria-label="Print">local_printshop</mat-icon>
            </button>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Treatment Done" [disabled]="disableTreatmentDoneTab">
      <mat-card class="example-card">
        <mat-card-content>
          <!-- Treatment Done -->
          <!-- this.treatmentTabPatientId = dashboardResponse.patientId
            this.treatmentTabPrescriptionId = dashboardResponse.prescriptionId
            this.treatmentTabTreatmentPlanHistoryViews -->
          <!-- <app-treatment-plan 
              [treatmentTabPatientId] = "treatmentTabPatientId"
              [treatmentTabPrescriptionId] = "treatmentTabPrescriptionId"
              [treatmentTabTreatmentPlanHistoryViews] = "treatmentTabTreatmentPlanHistoryViews"
            >Loading..</app-treatment-plan> -->
          <app-treatment-plan>Loading..</app-treatment-plan>
        </mat-card-content>
      </mat-card>
    </mat-tab>

  </mat-tab-group>

</mat-card>