<div th:fragment="foot">
<footer class="main-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<p>Registered ID: {{user.delNo}}</p>
			</div>
			<div class="col-sm-6 center-block text-center">
			<b>Customer Care: </b>+91 &ndash; 124 &ndash; 411 6038
			<b>| Email:</b> <a href="mailto:support@indepay.com">support@indepay.com</a>
			</div>
			<div class="col-sm-3 text-right">
				<p>Powered by <a href="https://www.indepay.com" class="external" target="_blank">Indepay Network Pvt Ltd.</a>
				</p>
			</div>
		</div>
	</div>
</footer>
</div>