<div th:fragment="navmenu">
<nav class="side-navbar shrinked yFull" id="navbarToggle">
	
	<!-- Sidebar Navidation Menus-->
	<div id="table-filters">

	<ul class="list-unstyled" >
	
	 	<li class="{{ selectedItem.indexOf('home') != -1 ? 'active' : '' }}"><a href="./home" ng-click="reloadSamePage('home');"><i class="fa fa-home"></i><b>Home</b></a></li>
	 	<li class="{{ selectedItem.indexOf('remittanceFlow') != -1 ? 'active' : '' }}"><a href="./remittanceFlow" ng-click="reloadSamePage('remittanceFlow');"><i class="fa fa-paper-plane"></i><b>Remittance</b></a></li>
	 	<li ng-show="user.subType == 'ISL'" class="{{ selectedItem.indexOf('cashPickUp') != -1 ? 'active' : '' }}"><a><i class="fa fa-inr"></i><b>Cash Pickup</b></a></li>
		<li ng-show="user.subType != 'ISL'" class="{{ selectedItem.indexOf('cashPickUp') != -1 ? 'active' : '' }}"><a href="./cashPickUp" ng-click="reloadSamePage('cashPickUp');"><i class="fa fa-inr"></i><b>Cash Pickup</b></a></li>
		 
        <li>
			<a href="#business" aria-expanded="{{ selectedItem.indexOf('statement') != -1 || selectedItem.indexOf('retailercertificate') != -1 || selectedItem.indexOf('accountDetails') != -1 || selectedItem.indexOf('aepsStatement') != -1 || selectedItem.indexOf('myOutbox')  != -1 ? 'true' : 'false' }}" data-toggle="collapse"><i class="fa fa-user"></i><b>My Business</b><sup>New</sup></a>
			<ul id="business" class="{{ selectedItem.indexOf('statement') != -1 || selectedItem.indexOf('retailercertificate')  != -1 || selectedItem.indexOf('accountDetails')  != -1  || selectedItem.indexOf('aepsStatement')  != -1 || selectedItem.indexOf('myOutbox')  != -1 ? 'collapse in' : 'collapse' }} list-unstyled">
				<li class="{{ selectedItem.indexOf('statement') != -1 ? 'active' : '' }}"><a href="./statement" ng-click="reloadSamePage('statement');"><b>My Transactions</b></a></li>
                <li class="{{ selectedItem.indexOf('accountDetails')  != -1 ? 'active' : '' }}"><a href="#" ng-click="reloadSamePage('accountDetails')" ><b>My Statement</b></a></li>
                <li class="{{ selectedItem.indexOf('myOutbox')  != -1 ? 'active' : '' }}"><a href="#" ng-click="reloadSamePage('myOutbox')" ><b>My Outbox</b>&nbsp;<span class="badge bg-red badge-corner">{{count}}</span></a></li>
                <li class="{{ selectedItem.indexOf('limitReport') != -1 ? 'active' : '' }}"><a href="#" ng-click="reloadSamePage('limitReport')"><b>My Limit Requests</b></a></li>
                <li ng-show="isAEPSServiceEnabled==true" class="{{ selectedItem.indexOf('aepsStatement') != -1 ? 'active' : '' }}"><a href="./aepsStatement" ng-click="reloadSamePage('aepsStatement');"><b>AEPS Transactions</b><sup>New</sup></a></li>
                <li class="{{ selectedItem.indexOf('retailercertificate')  != -1 ? 'active' : '' }}"><a href="#" ng-click="createCertificate()" ><b>Retailer Certificate</b></a></li>
			</ul>
		</li>
		<li ng-show="isKycEnabled==true" class="{{ selectedItem.indexOf('ekyc') != -1 ? 'active' : '' }}"><a href="./ekyc" ng-click="reloadSamePage('ekyc');"><i class="fa fa-home"></i><b>Ekyc</b></a></li>
		<li ng-show="isAEPSServiceEnabled==true" class="{{ selectedItem.indexOf('aepsFlow') != -1 ? 'active' : '' }}"><a href="./aepsFlow" ng-click="reloadSamePage('aepsFlow');"><i class="fa fa-bank"></i><b>AEPS Transaction</b><sup>New</sup></a></li>
		<li class="{{ selectedItem.indexOf('applyForLoan') != -1 ? 'active' : '' }}"><a href="./applyForLoan" ng-click="reloadSamePage('applyForLoan');"><i class="fa fa-bank"></i><b>Apply For Loan</b></a></li>
		<li class="{{ selectedItem.indexOf('limitRequest') != -1 ? 'active' : '' }}"><a href="./limitRequest" ng-click="reloadSamePage('limitRequest');"><i class="fa fa-tasks"></i><b>Request Limit From Indepay</b><sup style="float: right;margin-top: -12px;margin-right: -10px;">New</sup></a></li>
		<li>
			<a href="#support" aria-expanded="{{ selectedItem.indexOf('help') != -1 ? 'true' : 'false' }}" data-toggle="collapse"><i class="fa fa-question-circle"></i><b>Support</b></a>
			<ul id="support" class="{{ selectedItem.indexOf('help') != -1 ? 'collapse in' : 'collapse' }} list-unstyled">
				<li class="{{ selectedItem.indexOf('help') != -1 ? 'active' : '' }}"><a href="./help" ng-click="reloadSamePage('help');"><b>Help</b></a></li>
			</ul>
		</li>
	</ul>
	</div>
	<input type="hidden" ng-model='selectedItem' id="menu"/>
</nav>
</div>