@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css */

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}