/* your styles go here */



.panel-title .glyphicon{
     font-size: 20px;
}

.custom .input-group{
    position: relative;
    border-collapse: separate;
    }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal {
  text-align: center;
  padding: 0!important;
}
.mtable-custom{
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 15px;
}


.center-block-custom {
    display: block;
    margin-right: auto;
    margin-left: 2%;
}

.checkout-step-custom
{
    color: #000;
    font-size: 14px;
    padding-left: 13px;
    padding-right:3px;
    padding-top:30px;
    padding-bottom:30px;
    position: relative;
}

a.user-profile {
    color: #5E6974 !important
}
.user-profile img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 10px
}

.navbar-nav .open .dropdown-menu {
    position: absolute;
    background: #fff;
    margin-top: 10px;
    border: 1px solid #D9DEE4;
    -webkit-box-shadow: none;
    right: 0;
    left: auto;
    width: 220px;
    margin-right: -2px;
}

.dropdown-menu {
    border: medium none;
    box-shadow: none;
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 9998;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.dropdown-menu>li>a {
    color: #5A738E
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color: transparent;
	text-decoration: none;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: transparent;
	text-decoration: none;
}

.top_nav .navbar-right {
    margin: 0;
    width: 70%;
    float: right
}
.top_nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static
}
@media (min-width: 480px) {
    .top_nav .navbar-right li {
        position: relative
    }
}

.dropdown-menu>li>a {
    color: #5A738E
}

.top_nav .dropdown-menu li a {
    width: 100%;
    padding: 12px 20px
}
.top_nav li a i {
    font-size: 15px
}

.top_nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static
}

@media (min-width: 480px) {
    .top_nav .navbar-right li {
        position: relative
    }
}
.nav_menu {
    float: left;
    margin-bottom: 10px;
    width: 70%;
    position: relative
}
@media (min-width: 480px) {
    .nav_menu {
        position: static
    }
}

.custom-modal-content-custom {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
      width: 100%;
}

.panel-custom {
    margin-bottom: 100px;
    background-color: #fff;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.c8-custom{
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

p.required {
  color: red;
  font-weight: bold;
  padding: 0;
  margin: 5px 0 40px 0;
}

span.required{
	color:red;
}

.yFull-custom {
    min-height: 700px;
    margin-bottom:100px;
}


.required
{
	color:red;
	/* font-weight: bold; */
	/* font-size: medium;  */
}

.btnColor
{
	background :rgba(0,0,0,0.3);
}
.btnColor:hover {
    color: #08daf3 !important;
    text-decoration: none;
}
.navbar{
	margin-bottom: 0px !important;
}
.panel-heading-ind {
    color: #F5F5F5;
    background-color: #2A2377;
    border-color: #F5F5F5;
}

.btn-indepay {
    color: #FFF;
    background-color: #250E62;
    border-color: #250E62;
    border: 1px solid transparent;
	border-radius: 4px;
	padding: 6px 12px;
}
.btn-indepay:focus,
.btn-indepay:hover {
    color: #FFF;
    background-color: #4539c6;
    border-color: #4539c6;
    border: 1px solid transparent;
	border-radius: 4px;
	padding: 6px 12px;
}
.btn-indepay-info {
    color: #FFF;
    background-color: #228aaa;
    border-color: #228aaa;
    border: 1px solid transparent;
	border-radius: 4px;
	padding: 6px 12px;
}
.btn-indepay-info:focus,
.btn-indepay-info:hover {
    color: #FFF ;
    background-color: #3fb5d9;
    border-color: #3fb5d9;
    border: 1px solid transparent;
	border-radius: 4px;
	padding: 6px 12px;
}

/* nav bar color set */
/* nav.side-navbar ul a:hover {
  background: #ffffff;
  border-left: 4px solid #ffffff;
  color: #fff;
} */

nav.side-navbar ul li.active a {
  background: #2A2377;
  color: #fff;
} 

.list-inline li {
    display: inline-block;
    padding-left: 25px !importent;
    padding-right: 0;
}

nav.side-navbar ul {
  padding: 0px 0;
}

.btn-group-xs > .btn, .btn-xs  {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #999 ;
}
.head-margin-left {
  margin-left: -21px !important;
}

.circle {
  transition: all linear 0.5s;
  border-radius: 100px;
  border-color: #000;
  border-style: none;
  border-width: thin;
  height: 100px;
  font-weight: bold;
  width: 100px;
  display: table;
  margin: 10px auto;
  -webkit-box-shadow: 1px 1px 2px 3px #ccc;
  -moz-box-shadow:    1px 1px 2px 3px #ccc;
  box-shadow:         1px 1px 2px 3px #ccc;
}
.circle p {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.green {
  background: rgb(106, 255, 47);
}

.white {
  background: white;
}

.hide-me {
  display: none;	
}




@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
 /*  position: fixed; */
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: #250e62; /*rgba(0, 0, 0, 0.9); */
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 40s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.2em;
  color: white;
  font-weight: 700;
}

.blink{
	text-align: center;
}
.blink-text{
	font-family: cursive;
	color: red;
	animation: blink 2s linear infinite;
}

.blink-text:focus, .blink-text:hover {
  color: red;
  text-decoration: underline;
  background-color: transparent;
}
.blink-text1{
	/* font-family: cursive; */
	color: #250E62;
	animation: blink 3s linear infinite;
}

@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}



.custom-modal-content {
 /*  position: relative; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 115%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}


#scrolly { 
	width: 900px; 
	height: auto;
	max-height:400px; 
	/*
	 white-space: nowrap; 
	 overflow-y: hidden;
	*/
	overflow: auto; 	
	margin: 0 auto
	
}

#scrollCustom { 
	width: 780px; 
	height: auto;
	max-height:400px; 
	/*
	 white-space: nowrap; 
	 overflow-y: hidden;
	*/
	overflow: auto; 	
	margin: 0 auto
	
}







blink {
  background: #eee;
  padding: 5px;
}
