@import url('https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLUXza5VhXqVC6o75Eld_V98');
.c3 {
    color: #002060;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Gotham Rounded Light";
    font-style: normal
}

.c4 {
    color: #002060;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Gotham Rounded Light";
    font-style: normal
}

.c11 {
    color: #943734;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Gotham Rounded Light";
    font-style: normal
}

.c10 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c9 {
    padding-top: 12pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c18 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c6 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c8 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c0 {
    padding-top: 12pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c12 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
}

.c17 {
    padding-top: 0pt;
    padding-bottom: 12pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c13 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c14 {
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-style: normal
}

.c15 {
    color: #1155cc;
    font-weight: 400;
    font-family: "Gotham Rounded Light"
}

.c5 {
    -webkit-text-decoration-skip: none;
    text-decoration: underline;
    text-decoration-skip-ink: none
}

.c21 {
    color: #002060;
    font-weight: 700;
    font-family: "Gotham Rounded Bold"
}

.c20 {
    color: #5b9bd5;
    font-weight: 400;
    font-family: "Gotham Rounded Light"
}

.c16 {
    font-family: "Gotham Rounded Light";
    color: #000000;
    font-weight: 700
}

.c22 {
    background-color: #ffffff;
    max-width: 520.3pt; /* 451.3pt; */
    padding: 35pt 72pt 72pt 50pt
    /* padding: 72pt 72pt 72pt 72pt */
}

.c1 {
    font-family: "Gotham Rounded Light";
    color: #000000;
    font-weight: 400
}

.c23 {
    color: #002060;
    font-weight: 400;
    font-family: "Gotham Rounded Bold"
}

.c7 {
    font-family: "Gotham Rounded Light";
    color: #00b0f0;
    font-weight: 400;
    text-align: justify;
}

.c2 {
    color: inherit;
    text-decoration: inherit
}

.c19 {
    height: 11pt
}

/* p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Calibri";
} */