<div *ngIf="requestLoading">
    <h1>Loading...</h1>
    <mat-progress-bar style="width: 100%" color="primary" mode="indeterminate">
    </mat-progress-bar>
</div>
<!-- <div *ngIf="printView"> -->
<!-- <div> -->
<mat-tab-group mat-align-tabs="center" animationDuration="1500ms">
    <!--
        ====================================================================================
        ====================================================================================
        ====================================================================================
        ================================    First Visit    =================================
        ====================================================================================
        ====================================================================================
        ====================================================================================
    -->
    <mat-tab label="Full Prescription">
        <div class="fab">
            <button mat-mini-fab color="primary" (click)="printPrescription()" matTooltip="Print">
                <mat-icon aria-label="Print">local_printshop</mat-icon>
            </button>
        </div>
        <div id="printableFullPrescriptionContent">     
            <div class="smaller-border"></div>       
            <p class="left">Prescription ID: {{printView.prescriptionId}}</p>
            <p class="left"><b>PATIENT INFORMATION</b></p>
            <table>
                <tr>
                    <td>
                        Name: {{printView.name}}
                    </td>
                    <td>
                        Date: {{date | date: 'dd-MM-yyyy hh:mm a'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Sex: {{printView.sex}}
                    </td>
                    <td>
                        Visited: {{printView.visitDateTime}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Age: {{printView.age}}
                    </td>
                    <td>
                        Next Appointment: {{printView.nextAppointmentDateTime}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Others: {{printView.printableNotes}}
                    </td>
                </tr>
            </table>
            <div class="smaller-border"></div>
            <table>
                <tr>
                    <td style="width:40%">
                        CHIEF COMPLAINT:
                    </td>
                    <td style="width:70%">
                        {{printView.chiefComplain}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="smaller-border"></p>
                    </td>
                    <td>
                        <p class="smaller-border"></p>
                    </td>
                </tr>
                <tr>
                    <td style="width:40%">
                        MEDICAL HISTORY:
                    </td>
                    <td style="width:70%">
                        {{printView.medicalHistory}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="smaller-border"></p>
                    </td>
                    <td>
                        <p class="smaller-border"></p>
                    </td>
                </tr>
                <tr>
                    <td style="width:40%">
                        CLINICAL FINDINGS:
                    </td>
                    <td style="width:70%">
                        {{printView.clinicalFindings}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="smaller-border"></p>
                    </td>
                    <td>
                        <p class="smaller-border"></p>
                    </td>
                </tr>
                <tr>
                    <td style="width:40%">
                        PROVISIONAL DIAGNOSIS:
                    </td>
                    <td style="width:70%">
                        {{printView.provisionalDiagnosis}}
                    </td>
                </tr>
            </table>
            <div class="smaller-border"></div>
            <div *ngIf="printView.tphv && printView.tphv.length > 0">
                <p><b>Treatment Plan:</b></p>
                <div>
                    <ol>
                        <li *ngFor="let tphvItem of printView.tphv">
                            {{tphvItem.tname}} on {{tphvItem.toothIndex}} for
                            {{tphvItem.clinicalFinding}} is
                            {{tphvItem.status}}
                        </li>
                    </ol>
                </div>
            </div>
            <div *ngIf="printView.advice">
                <div class="smaller-border"></div>
                <p><b>ADVICE</b></p>
                <div>
                    <ul>
                        <li *ngFor="let advice of getOrderedAdviceList()">{{advice}}</li>
                    </ul>
                </div>
            </div>
            <div class="noPrint" *ngIf="printView.medicineAll">
                <div class="smaller-border"></div>
                <p><b>ALL MEDICINE</b></p>
                <div>
                    <ol>
                        <li *ngFor="let med of printView.medicineAll">
                            {{med}}
                        </li>
                    </ol>
                </div>
            </div>
            <div id="medicine" *ngIf="printView.medicineCurrent && printView.medicineCurrent.length > 0">
                <div class="smaller-border"></div>
                <p><b>MEDICINE</b></p>
                <div>
                    <ol>
                        <li *ngFor="let med of printView.medicineCurrent">
                            {{med}}
                        </li>
                    </ol>
                </div>
            </div>
            <div class="smaller-border"></div>
        </div>
    </mat-tab>
    <!--
        ====================================================================================
        ====================================================================================
        ====================================================================================
        ================================    Re Visit    ====================================
        ====================================================================================
        ====================================================================================
        ====================================================================================
    -->
    <mat-tab label="Revisit Prescription">
        <div class="fab">
            <button mat-mini-fab color="primary" (click)="printRevisit()" matTooltip="Print">
                <mat-icon aria-label="Print">local_printshop</mat-icon>
            </button>
        </div>
        <div id="printableRevisitPrescriptionContent">  
            <div class="smaller-border"></div>          
            <div>Visit count : {{printView.visitNo}}</div>
            <div class="noPrint" *ngIf="printView.tphv && printView.tphv.length > 0">
                <div class="smaller-border"></div>
                <p><b>Work History:</b></p>
                <div>
                    <ol>
                        <li *ngFor="let tphvItem of printView.tphv">
                            {{tphvItem.tname}} on {{tphvItem.toothIndex}} for {{tphvItem.clinicalFinding}} is
                            {{tphvItem.status}}
                        </li>
                    </ol>
                </div>
            </div>
            <div *ngIf="printView.tphvCompleted && printView.tphvCompleted.length > 0">
                <div class="smaller-border"></div>
                <p><b>Work Done:</b></p>
                <div>
                    <ol>
                        <li *ngFor="let tphvItem of printView.tphvCompleted">
                            {{tphvItem.tname}} done on {{tphvItem.toothIndex}} for {{tphvItem.clinicalFinding}}
                        </li>
                    </ol>
                </div>
            </div>
            <div class="noPrint" *ngIf="printView.medicineAll">
                <div class="smaller-border"></div>
                <p><b>ALL MEDICINE</b></p>
                <div>
                    <ol>
                        <li *ngFor="let med of printView.medicineAll">
                            {{med}}
                        </li>
                    </ol>
                </div>
            </div>
            <div *ngIf="printView.medicineCurrent">
                <div class="smaller-border"></div>
                <p><b>MEDICINE</b></p>
                <div>
                    <ol>
                        <li *ngFor="let med of printView.medicineCurrent">
                            {{med}}
                        </li>
                    </ol>
                </div>
            </div>
            <div id="nextAppo">
                <div class="smaller-border"></div>
                <p>Next Appointment: {{printView.nextAppointmentDateTime}}</p>
            </div>
            <div class="smaller-border"></div>
        </div>
    </mat-tab>
    <mat-tab label="Money Receipt">Coming soon</mat-tab>
</mat-tab-group>

<!-- </div> -->