<!DOCTYPE html>
<!-- <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" /> -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Remittance Portal</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="all,follow" />


<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/style.default.css}" id="theme-stylesheet" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-select.min.css}" />

<link rel="stylesheet"
	th:href="@{/lib/datatable/bootstrap-3.3.4.min.css}" />
<link rel="stylesheet" th:href="@{/lib/datatable/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/lib/datatable/font-awesome.css}" />
<link rel="stylesheet"
	th:href="@{/lib/datatable/ultimate-datatable-3.3.1-SNAPSHOT.css}" />

<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery-ui.1.12.1.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}" />
<link rel="shortcut icon" th:href="@{/img/favicon.ico}" />

<script type="text/javascript" th:src="@{/js/fontawesome.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/angular-1.5.8/angular.min.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/angular-1.5.8/angular-cookies.min.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/angular-1.5.8/angular-messages.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/chart.js/dist/Chart.js}"></script>
<script type="text/javascript" th:src="@{/lib/angular-chart.js/dist/angular-chart.js}"></script>
<script type="text/javascript" th:src="@{/js/chartmin.js}"></script>

<script type="text/javascript"
	th:src="@{/js/ui-bootstrap-tpls-0.12.1.js}"></script>
<script type="text/javascript"
	th:src="@{/customjs/remittance/master.js}"></script>
<script type="text/javascript"
	th:src="@{/customjs/remittance/dashboardController.js}"></script>
<script type="text/javascript"
	th:src="@{/customjs/remittance/RemittanceService.js}"></script>
<script type="text/javascript"
	th:src="@{/customjs/remittance/RemittanceFactory.js}"></script>
<script type="text/javascript"
	th:src="@{/customjs/remittance/cashPickUpController.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/promise/promise-7.0.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dirPagination.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.1.12.1.js}"></script>
<script type="text/javascript" th:src="@{/js/sha256.js}"></script>

<script type="text/javascript"
	th:src="@{/lib/promise/promise-7.0.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dirPagination.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.1.12.1.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/chartmin.js}"></script>
<script type="text/javascript" th:src="@{/js/front.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-select.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-sanitize.min.js}"></script>

<script type="text/javascript"
	th:src="@{/lib/datatable/bootstrap-3.3.4.min.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/datatable/ultimate-datatable-3.3.1-SNAPSHOT.js}"></script>
<script type="text/javascript"
	th:src="@{/customjs/common/jqueryCalendarConfig.js}"></script>



</head>
<body class="yFull-custom">
	<div ng-app="masterApp" ng-controller="masterController">
		<div class="page home-page">
			<!-- Main Navbar-->
			<!-- <div ng-include="'header'" /> -->
			<div th:include="header::head"></div>
			<div class="page-content d-flex align-items-stretch" style="margin-top: -15px;">
				<!-- Side Navbar -->
				<!-- <div ng-include="'nav'" /> -->
				<div th:include="nav::navmenu"></div>
				<div class="content-inner">
					<!-- Page Header-->
					<div class="container theme-showcase"
						ng-controller="cashPickUpController">

						<!-- ###### Code To be ADD ############ -->


						<!-- For cash enter -->
						<br></br>
						<div class="dashboard-counts no-padding-bottom ng-cloak" ng-show="transactionShow">
							<div class="container-fluid">
								<div class="row bg-white has-shadow ">
								<form name="cashPickupForm" novalidate="" class="col-md-12 " style="margin-bottom:100px;">
									<div class="row">
									<div class="col-md-12">
									<h3>Cash Pickup</h3>
									</div>	
									<div class="col-md-12"  style=" margin-top: 15px;" >
										<div class="form-group col-md-3" ng-class="{ 'has-error' : cashPickupForm.amount.$invalid &amp;&amp; !cashPickupForm.amount.$pristine }"> 
											<label for="amount">Amount<span class="required">*</span></label>
										 	<input type="text" class="form-control" id="amount" name="amount" maxlength="6"
												ng-model="amount" placeholder="Enter amount in &#8377;" required="" ng-pattern="/^[0-9]*$/" ng-keypress="isError=false"  ng-keydown="isError=false"/>
											<p ng-show="cashPickupForm.amount.$invalid &amp;&amp; !cashPickupForm.amount.$pristine"
													class="help-block">Amount must be digit</p>
										</div>
										<div class="form-group col-md-3">
											<label for="remarks">Remarks</label>
											 <input type="text"	class="form-control" id="remarks" name="remarks"
												maxlength="50" ng-model="remarks" placeholder="Enter remarks (optional)" />
										</div>
										<div class="form-group col-md-4">
											<button type="button" class="btn btn-indepay" style="margin-top: 18px;"  ng-click="initiateCashPickup() " ng-disabled="cashPickupForm.$invalid || cashPickupForm.$pristine">Proceed</button>
											
										</div>
										</div>
										<!-- error handling -->
										<div ng-show="isError" ng-init="isError=false">
											<p ng-bind="errorMsg" style="color:#A94442;"></p>
										</div>
									</div>
									</form>
								</div>
							</div>
						</div>

						<!-- Transaction details body -->
						<div class="container ng-cloak" ng-show="tansactionDetailShow">
							<div class="row">
								<!-- Circular progress -->
								<div class="col-md-3 block">
									<div ng-class="requestPlaced">
										<p>Request Placed</p>
									</div>
								</div>
								<div class="col-md-3 block">
									<div ng-class="agentNotified">
										<p>Agent Notified</p>
									</div>
								</div>
								<div class="col-md-3 block">
									<div ng-class="agentOnTheWay">
										<p>Agent On the way</p>
									</div>
								</div>
								<div class="col-md-3 block">
									<div ng-class="agentReached">
										<p>Agent reached</p>
									</div>
								</div>
								<!-- Circular progress -->
							</div>


							<!-- Panel contents -->
							<div class="panel-custom panel-info ng-cloak">

								<div class="panel-heading">
									<b>Transaction Details:</b>
									<a ng-click="getTransactionDetails()" href="#" class="pull-right">
    									<img width="15" height="15" th:src="@{/img/refresh.png}"></img>
									</a>
								</div>
								<div class="panel-body">
									<div class="form-group">

										<div class="row">
											<label for="transactionId" class="col-md-6 control-label">Reference
												ID:</label>
											<div class="col-md-6">
												<p class="text-left" id="transactionId"
													ng-bind="custRefId">123456789</p>
											</div>
										</div>

										<div class="row">
											<label for="dateAndTime" class="col-md-6 control-label">Date
												and Time:</label>
											<div class="col-md-6">
												<p class="text-left" id="dateAndTime" ng-bind="dateAndTime">19
													Nov 2017 4:38 PM</p>
											</div>
										</div>

										<div class="row">
											<label for="timeSlot" class="col-md-6 control-label">Time Slot:</label>
											<div class="col-md-6">
												<p class="text-left" id="timeSlot"
													ng-bind="preferredTimeSlot">Time slot 1</p>
											</div>
										</div>

										<div class="row">
											<label for="transactionType" class="col-md-6 control-label">Transaction
												Type:</label>
											<div class="col-md-6">
												<p class="text-left" id="transactionType"
													ng-bind="transactionType"/>
											</div>
										</div>
										<div class="row">
											<label for="transactionAmt" class="col-md-6 control-label">Transaction
												Amount:</label>
											<div class="col-md-6">
												<p class="text-left" id="transactionAmt"
													ng-bind="amount"/>
											</div>
										</div>										
										<div class="row" ng-show="isEnterUIN">
											<label for="uin" class="col-md-6 control-label">Enter UIN:</label>
											<div class="col-md-6">
												<input id="uin" type="text" ng-model="uin" placeholder="Enter UIN" ng-change="hideErrorMsg()" maxlength="6" />
												<button type="button" class="btn btn-info" ng-click="submitUIN()">Submit</button>
											</div>
										</div>								
										<div class="row" ng-show="isRegenerateOTP">
											<div class="col-md-6">
												<button type="button" class="btn btn-info" ng-click="generateOTP()">Regenerate OTP</button>
											</div>
										</div>								

										<div class="row" ng-show="tansactionFinalStatusShow">
											<label for="transactionType" class="col-md-6 control-label">Transaction
												Status:</label>
											<div class="col-md-6">
												<p class="text-left" id="transactionType"
													ng-bind="transaction.custom_status"/>
											</div>
										</div>								
										<div class="row" ng-show="tansactionErrorRespCodeShow">
											<label for="transactionRespCode" class="col-md-6 control-label">Response
												Code:</label>
											<div class="col-md-6">
												<p class="text-left" id="transactionRespCode"
													ng-bind="transaction.responseCode"/>
											</div>
										</div>								


									</div>
									
								</div>
							
								<div class="panel-footer"  >
									<button type="button" class="btn btn-danger" ng-click="cancelTransaction()" ng-disabled="!isTransactionCancellable">Cancel</button>
									<div class="alert alert-danger" role="alert" ng-show="isError" ng-bind="errorMsg"></div>
								</div>
							</div>
							<!-- Panel contents -->

						</div>
						
						<!-- Transaction Cancellation Modal -->
							<div id="cancellationModal" class="modal fade" role="dialog">
							  <div class="modal-dialog modal-md" role="document">
							
							    <!-- Modal content-->
							    <div class="modal-content">
							      <div class="modal-header">
							      	<h4 class="modal-title">Select reason for Cancellation</h4>
							        <button type="button" class="close" data-dismiss="modal">&times;</button>							        
							      </div>
							      <div class="modal-body">
							        <div class="row" style="padding-left:20px">
								        <select ng-model="selectedReason" ng-options="reason.rejectionDescription for reason in rejectonReasons"
								        	ng-change="resetRejectionText()">
								        	<option value="" selected="selected">-Please Select-</option>
										</select>
									</div>
									<div class="row" style="padding-left:20px; padding-top:5px">
										<input id="reasonDesc" type="text" ng-model="selectedReasonDesc" placeholder="Enter reason" ng-show="selectedReason.rejectionCode == 'OTHERS'" maxlength="50"/>									
									</div>
							      </div>

								  <div class="modal-footer" >
									<button type="button" class="btn btn-danger pull-right" ng-click="confirmCancelTransaction()">Confirm</button>
								  </div>
							    </div>
							
							  </div>
							</div>
						
						<!-- ################## -->
					</div>
				</div>
			</div>
			<!-- <div ng-include="'footer'" /> -->
			<div th:include="footer::foot"></div>
		</div>
	</div>
</body>
</html>