<!DOCTYPE html>
<!-- <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" /> -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Remittance Portal</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="all,follow" />

<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/style.default.css}" id="theme-stylesheet" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-select.min.css}" />

<link rel="stylesheet"
	th:href="@{/lib/datatable/bootstrap-3.3.4.min.css}" />
<link rel="stylesheet" th:href="@{/lib/datatable/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/lib/datatable/font-awesome.css}" />
<link rel="stylesheet"
	th:href="@{/lib/datatable/ultimate-datatable-3.3.1-SNAPSHOT.css}" />

<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css?v=1.0}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery-ui.1.12.1.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css?v=1.0}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}" />
<link rel="shortcut icon" th:href="@{/img/favicon.ico}" />

<script type="text/javascript" th:src="@{/js/fontawesome.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/angular-1.5.8/angular.min.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/angular-1.5.8/angular-cookies.min.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/angular-1.5.8/angular-messages.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/chart.js/dist/Chart.js}"></script>
<script type="text/javascript" th:src="@{/lib/angular-chart.js/dist/angular-chart.js}"></script>
<script type="text/javascript" th:src="@{/js/chartmin.js}"></script>

<script type="text/javascript"
	th:src="@{/js/ui-bootstrap-tpls-0.12.1.js}"></script>
<script type="text/javascript"
	th:src="@{/customjs/remittance/master.js}"></script>
<script type="text/javascript"
	th:src="@{/customjs/remittance/dashboardController.js}"></script>
<script type="text/javascript"
	th:src="@{/customjs/remittance/RemittanceService.js}"></script>
<script type="text/javascript"
	th:src="@{/customjs/remittance/RemittanceFactory.js}"></script>
<script type="text/javascript"
	th:src="@{/customjs/remittance/changePassword.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/promise/promise-7.0.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dirPagination.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.1.12.1.js}"></script>
<script th:src="@{/js/sha256.js}"></script>

<script type="text/javascript"
	th:src="@{/lib/promise/promise-7.0.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dirPagination.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.1.12.1.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/chartmin.js}"></script>
<script type="text/javascript" th:src="@{/js/front.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-select.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-sanitize.min.js}"></script>

<script type="text/javascript"
	th:src="@{/lib/datatable/bootstrap-3.3.4.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootbox.min.version-4.4.0.js}"></script>
	
<script type="text/javascript"
	th:src="@{/lib/datatable/ultimate-datatable-3.3.1-SNAPSHOT.js}"></script>


</head>
<body class="yFull-custom">
	<div ng-app="masterApp" ng-controller="masterController">
		<div class="page home-page">
			<!-- Main Navbar-->
			<!-- <div ng-include="'header'" /> -->
			<div th:include="header::head"></div>
			<div class="page-content d-flex align-items-stretch" style="margin-top: -15px;">
				<!-- Side Navbar -->
				<!-- <div ng-include="'nav'" /> -->
				<div th:include="nav::navmenu"></div>
				<div class="content-inner">
					<!-- Page Header-->
					<div class="container theme-showcase"
						ng-controller="changePasswordController">

						<!-- ###### Code To be ADD ############ -->
						<br>
						<div class="dashboard-counts no-padding-bottom ng-cloak">
							<div class="container-fluid">
								     <div class="col-lg-8">
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Change Password</h3>
                    </div>
                    <br>
                    <div class="card-body">
											<div ng-if="showMsg" style="margin:0 10px;">
												<p ng-class="msgClass">{{infoMsg}}</p>
											</div>
											<form class="form-horizontal" name="changePassform" style="margin-left: 15px;margin-right:15px;">
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">Old Password</label>
                          <div class="col-sm-8" ng-class="{ 'has-error' : changePassform.oldPass.$invalid &amp;&amp; !changePassform.oldPass.$pristine }">
                           <input type="password" name="oldPass" class="form-control" ng-model="oldPass" required="" maxlength="30" un-matcher="{{newPass}}"
																			ng-cut="$event.preventDefault()"
																			ng-copy="$event.preventDefault()"
																			ng-paste="$event.preventDefault()" />
														<div ng-messages="changePassform.oldPass.$error" ng-if="!changePassform.oldPass.$pristine">
															<div ng-message="required" style="color:#a94442">Old Password is required.</div>
															<div ng-message="unMatcher" style="color:#a94442">New Password cannot be
																same as Old Password.</div>
														</div>
													</div>
                        </div>
                        <div class="form-group row" ng-class="{ 'has-error' : changePassform.newPass.$invalid &amp;&amp; !changePassform.newPass.$pristine}">
                          <label class="col-sm-3 form-control-label">New Password</label>
                          <div class="col-sm-8">
                            <input type="password" name="newPass" class="form-control" ng-model="newPass" required="" maxlength="30"
																			ng-cut="$event.preventDefault()" un-matcher="{{oldPass}}"
																			ng-copy="$event.preventDefault()"
																			ng-paste="$event.preventDefault()" />
														<div ng-messages="changePassform.newPass.$error" ng-if="!changePassform.newPass.$pristine">
															<div ng-message="required" style="color:#a94442">New Password is required.</div>
															<div ng-message="unMatcher" style="color:#a94442">New Password cannot be
																same as Old Password.</div>
														</div>
													</div>
                        </div>
                        <div class="form-group row" ng-class="{ 'has-error' : changePassform.confirmPass.$invalid &amp;&amp; !changePassform.confirmPass.$pristine }">
                          <label class="col-sm-3 form-control-label">Confirm Password</label>
                          <div class="col-sm-8">
                           <input type="password" name="confirmPass" class="form-control" ng-model="confirmPass" ng-pattern="newPass" maxlength="30"
																			required="" ng-cut="$event.preventDefault()"
																			ng-copy="$event.preventDefault()"
																			ng-paste="$event.preventDefault()" />
                            <p ng-show="changePassform.confirmPass.$invalid &amp;&amp; !changePassform.confirmPass.$pristine"
																			class="help-block">Confirm Password should be equal to New Password</p>
                          </div>
                        </div>
                        <div class="form-group row">       
                          <div class="col-sm-9 offset-sm-3">
                           <button type="button" class="btn btn-indepay" ng-click="changePwd()" ng-disabled="changePassform.$invalid || changePassform.$pristine">
																		Submit </button>
                          </div>
                        </div>
                      </form>
                      <form id="logOut" th:action="@{/remittance/logout}" method="post"></form>	
                    </div>
                  </div>
                </div>
							</div>
						</div>

						<!-- ################## -->
					</div>
				</div>
			</div>
			<!-- <div ng-include="'footer'" /> -->
			<div th:include="footer::foot"></div>
		</div>
	</div>
</body>
</html>