<!DOCTYPE html>
<!-- <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" /> -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Remittance Portal</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="all,follow" />


<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/style.default.css}" id="theme-stylesheet" />

<link rel="stylesheet"
	th:href="@{/lib/datatable/bootstrap-3.3.4.min.css}" />
<link rel="stylesheet" th:href="@{/lib/datatable/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/lib/datatable/font-awesome.css}" />
<link rel="stylesheet"
	th:href="@{/lib/datatable/ultimate-datatable-3.3.1-SNAPSHOT.css}" />

<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery-ui.1.12.1.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/help-doc.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-select.min.css}" />

<link rel="shortcut icon" th:href="@{/img/favicon.ico}" />

<script type="text/javascript" th:src="@{/js/fontawesome.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/angular-1.5.8/angular.min.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/angular-1.5.8/angular-cookies.min.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/angular-1.5.8/angular-messages.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/chart.js/dist/Chart.js}"></script>
<script type="text/javascript" th:src="@{/lib/angular-chart.js/dist/angular-chart.js}"></script>
<script type="text/javascript" th:src="@{/js/chartmin.js}"></script>

<script type="text/javascript" th:src="@{/js/ui-bootstrap-tpls-0.12.1.js}"></script>
<script type="text/javascript" th:src="@{/customjs/remittance/master.js}"></script>
<script type="text/javascript" th:src="@{/customjs/remittance/helpController.js}"></script>
<script type="text/javascript" th:src="@{/customjs/remittance/RemittanceService.js}"></script>
<script type="text/javascript" th:src="@{/customjs/remittance/dashboardController.js}"></script>
<script type="text/javascript" th:src="@{/customjs/remittance/RemittanceFactory.js}"></script>
<script type="text/javascript" th:src="@{/lib/promise/promise-7.0.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dirPagination.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.1.12.1.js}"></script>

<script type="text/javascript" th:src="@{/lib/promise/promise-7.0.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dirPagination.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.1.12.1.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/chartmin.js}"></script>
<script type="text/javascript" th:src="@{/js/front.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-select.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-sanitize.min.js}"></script>

<script type="text/javascript" th:src="@{/lib/datatable/bootstrap-3.3.4.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/datatable/ultimate-datatable-3.3.1-SNAPSHOT.js}"></script>
<script type="text/javascript" th:src="@{/customjs/common/jqueryCalendarConfig.js}"></script>

<script type="text/javascript" th:src="@{/lib/angular-1.5.8/angular-messages.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootbox.min.version-4.4.0.js}"></script>



</head>
<body class="yFull">
	<div ng-app="masterApp" ng-controller="masterController">
		<div class="page home-page">
			<!-- Main Navbar-->
			<!-- <div ng-include="'header'" /> -->
			<div th:include="header::head"></div>
			<div class="page-content d-flex align-items-stretch">
				<!-- Side Navbar -->
				<!-- <div ng-include="'nav'" /> -->
				<div th:include="nav::navmenu"></div>
				<div class="content-inner">
					<!-- Page Header-->
			
		<div class="container theme-showcase" ng-controller="helpController" >
		<!-- ###### Code To be ADD ############ -->
		<div class="c22" ng-show="displayHelp">
					<div class="row">
							<div class="col-md-6">
								<b>Customer Care:<br/>
								Phone: </b>+91 &#8722; 124 &#8722; 411 6038
							</div>
							
					
					</div>
					<div class="row">
					<div class="col-md-6">
								<br/>
								<b>Email:</b> <a href="mailto:support@indepay.com">support@indepay.com</a> 
							</div>
					</div>
							<p class="c8-custom">
							<br/><br/>
								<span class="c14 c23">FREQUENTLY ASKED QUESTIONS</span>
							</p>
							<p class="c10">
								<span class="c14 c21"></span>
							</p>
							<p class="c12">
								<span class="c14 c21">Index</span>
							</p>
							<p class="c6">
								<span class="c15 c5"> <a class="c2"
									href="#id.pcdepnlcnjs4" target="_self">How do I install Indepay portal?</a>
								</span>
							</p>
							<p class="c6">
								<span class="c15 c5"> <a class="c2"
									href="#id.e5iyxj395a8" target="_self">How can I login to Indepay portal?</a>
								</span>
							</p>
							<p class="c6">
								<span class="c15 c5"> <a class="c2"
									href="#id.x3sdd3a7c9xn" target="_self">The Indepay system is not allowing
										me to log on. What should I do?</a>
								</span>
							</p>
							<p class="c6">
								<span class="c15 c5"> <a class="c2"
									href="#id.y7i04tk9if9p" target="_self">How can I request a new password?</a>
								</span>
							</p>
							<p class="c6">
								<span class="c5 c15"> <a class="c2"
									href="#id.5qqzbkbtqfoo" target="_self">I am unable to use Indepay after I
										login?</a>
								</span>
							</p>
							<p class="c6">
								<span class="c15 c5"> <a class="c2"
									href="#id.28qjzhhd0w6y" target="_self">I have not received my commission</a>
								</span>
							</p>
							<p class="c6">
								<span class="c15 c5"> <a class="c2"
									href="#id.xzp0fxc0x515" target="_self">I need help viewing transaction
										history</a>
								</span>
							</p>
							<p class="c6">
								<span class="c15 c5"> <a class="c2"
									href="#id.aht47i72jriv" target="_self">Any other issue log a complaint</a>
								</span>
							</p>
							<p class="c6">
								<span class="c15 c5"> <a class="c2"
									href="#id.o6152leapsr8" target="_self">Top up done but not received</a>
								</span>
							</p>
							<p class="c6">
								<span class="c15 c5"> <a class="c2"
									href="#id.2m849ormgc7y" target="_self">Incorrect amount received</a>
								</span>
							</p>
							<p class="c6">
								<span class="c15 c5"> <a class="c2"
									href="#id.1pumrp3mdnr1" target="_self">Concern related to distributor</a>
								</span>
							</p>
							<p class="c6">
								<span class="c15 c5"> <a class="c2"
									href="#id.oygmnsm440hi" target="_self">Want to deactivate my account</a>
								</span>
							</p>
							<p class="c6">
								<span class="c15 c5"> <a class="c2"
									href="#id.4sgkecr7f77a" target="_self">Training required at outlet</a>
								</span>
							</p>
							<p class="c6">
								<span class="c15 c5"> <a class="c2"
									href="#id.nh1fv7itoovm" target="_self">Want to change my mobile number</a>
								</span>
							</p>
							<p class="c6">
								<span class="c15 c5"> <a class="c2"
									href="#id.ynpsksbh9tn6" target="_self">Wrong commitment given during
										sign-up</a>
								</span>
							</p>
							<p class="c6 c19">
								<span class="c4"></span>
							</p>
							<p class="c10">
								<span class="c3"></span>
							</p>
							<p class="c10">
								<span class="c3"></span>
							</p>
							<p class="c12">
								<span class="c3">Login Section</span>
							</p>
							<a id="id.pcdepnlcnjs4"></a>
							<p class="c6">
								<span class="c4">How do I install Indepay portal?</span>
							</p>
							<p class="c12">
								<div class="c7">Great News! You don&rsquo;t need to
									install Indepay. Just open <a href="http://remit.indepay.com" target="_blank" class="c5 c1">remit.indepay.com</a> in your web browser and enter
									your login details for Indepay and start transacting from
									anywhere.
								</div>
							</p>
							<a id="id.e5iyxj395a8"></a>
							<p class="c6">
								<span class="c4">How can I login to Indepay portal?</span>
							</p>
							<p class="c12">
								<div class="c7">Simply visit <a href="http://remit.indepay.com" target="_blank" class="c5 c1">remit.indepay.com</a>
									Enter your login details for Indepay and click on the &ldquo;Login&rdquo; button.
									If you are still not able to login, then please get in touch with Indepay Customer Care.
								</div>
							</p>
							<a id="id.x3sdd3a7c9xn"></a>
							<p class="c6">
								<span class="c4">The Indepay system is not allowing me to
									log on. What should I do?</span>
							</p>
							<p class="c12">
								<div class="c7">Make sure that you are accessing Indepay
									on <a href="http://remit.indepay.com" target="_blank" class="c5 c1">remit.indepay.com</a> Check
									your login details. If you are still not able to login, then please get in touch with
									Indepay Customer Care.
								</div>
							</p>
							<a id="id.y7i04tk9if9p"></a>
							<p class="c6">
								<span class="c4">How can I request a new password?</span>
							</p>
							<p class="c12">
								<div class="c7">Please click on &ldquo;Forget Password&rdquo;. Enter your Indepay registered Mobile number &amp; 
								validate OTP, post which you can set your new password. In case you face any problem please get in 
								touch with Indepay customer care.</div>
							</p>
							<p class="c6 c19">
								<span class="c4"></span>
							</p>
							<a id="id.5qqzbkbtqfoo"></a>
							<p class="c6">
								<span class="c4">I am unable to use Indepay after I login?</span>
							</p>
							<p class="c12">
								<div class="c7">Please check if you are using the latest
									version of web browser or else logout and login again. 
									Check if you also have sufficient balance/limit in your wallet. 
									If the issue persists, please get in touch with the Indepay
									Customer Care</div>
							</p>
							<p class="c10">
								<span class="c3"></span>
							</p>
							<p class="c6">
								<span class="c3">Account information</span>
							</p>
							<p class="c12">
								<span class="c3">(Need help on commission &amp;
									transaction history issues)</span>
							</p>
							<a id="id.28qjzhhd0w6y"></a>
							<p class="c6">
								<span class="c4">I have not received my commission</span>
							</p>
							<p class="c12">
								<div class="c7">Commissions are paid real-time on every successful transaction 
									and the same is displayed in Home Screen. Also you can check your commission 
									details through My Transaction. If the issue still exists, please
									contact Indepay customer care for immediate help. Ensure that you
									share the related transaction ID as well for us to assist you
									better. <br />
								</div> 
								<span class="c11"> <a href="#" onclick="location.href='./home'">Click here to see the commission meter</a>
									 <br />
									 <!-- <a href="#" ng-click="showContact()">Click here to raise a request</a> -->
								</span>
							</p>
							<a id="id.xzp0fxc0x515"></a>
							<p class="c6">
								<span class="c4">I need help viewing transaction history</span>
							</p>
							<p class="c12">
								<div class="c7">It&#39;s simple! Use the following
									links to view the required reports. If the issue still
									exists, please contact Indepay customer care for immediate help.
								</div> 
								<span class="c11"><a href="#" onclick="location.href='./statement'">Click here to see the transaction
									history</a>
									<br />
									<!-- <a href="#" ng-click="showContact()">Click here to raise a request</a> -->
								</span>
							</p>
							<a id="id.aht47i72jriv"></a>
							<p class="c9">
								<span class="c4">Any other issue log a complaint</span>
							</p>
							<p class="c12">
							<div class="c7">Don&#39;t worry. We will try our best to
								help you! Please contact Indepay customer care for immediate
								help.</div>
							<!-- <span class="c11"><a href="#" ng-click="showContact()">Click here to raise a request</a></span> -->
							</p>
							<p class="c0">
								<span class="c3">Receive Load/Limit from ISP (Indepay Service Partner)</span>
							</p>
							<p class="c13">
								<span class="c3">(Help regarding load &amp; Top up related issues)</span>
							</p>
							<a id="id.o6152leapsr8"></a>
							<p class="c9">
								<span class="c4">Top up done but not received</span>
							</p>
							<p class="c12">
							<div class="c7">Top up is done through Cash Pick-up request within the portal. 
								Once request is raised our service partner would visit your location and facilitate 
								Load/Limit real-time to the extent of Load request raised. In case of any issues 
								please contact our customer care for more assistance.</div>
							<!-- <span class="c11"><a href="#" ng-click="showContact()">Click here to raise a request</a></span> -->
							</p>
							<a id="id.2m849ormgc7y"></a>
							<p class="c9">
								<span class="c4">Incorrect amount received</span>
							</p>
							<p class="c12">
							<div class="c7">Don&#39;t worry. We will try our best to
								help you! Please contact Indepay customer care for immediate
								help. Ensure that you share the related transaction ID and
								correct amount as well for us to assist you better.</div>
							<!-- <span class="c11"><a href="#" ng-click="showContact()">Click here to raise a request</a></span> -->
							</p>
							<p class="c13 c19">
								<span class="c14 c20"></span>
							</p>
							<p class="c13">
								<span class="c3">Service Related</span>
							</p>
							<p class="c13">
								<span class="c3">(Need help on training &amp; service related issues)</span>
							</p>
							<a id="id.1pumrp3mdnr1"></a>
							<p class="c9">
								<span class="c4">Concern related to ISP (Indepay Service Partner)</span>
							</p>
							<p class="c12">
							<div class="c7">Don&#39;t worry. We will try our best to
								help you! Please contact Indepay customer care for immediate
								help. Ensure that you share the ISP number related
								details as well for us to assist you better.</div>
							<!-- <span class="c11"><a href="#" ng-click="showContact()">Click here to raise a request</a></span> -->
							</p>
							<a id="id.oygmnsm440hi"></a>
							<p class="c9">
								<span class="c4">Want to deactivate my account</span>
							</p>
							<p class="c12">
							<div class="c7">Don&rsquo;t worry. We will try our best to
								help you. Please contact Indepay customer care for immediate
								help. Ensure that you share the reason for placing account
								deactivation request as well for us to assist you better.</div>
							<!-- <span class="c11"><a href="#" ng-click="showContact()">Click here to raise a request</a></span> -->
							</p>
							<a id="id.4sgkecr7f77a"></a>
							<p class="c9">
								<span class="c4">Training required at outlet</span>
							</p>
							<p class="c12">
							<div class="c7">Don&#39;t worry. We will try our best to
								help you! Please contact Indepay customer care for help. Ensure
								that you share the training requirements as well for us to
								assist you better.</div>
							<!-- <span class="c11"><a href="#" ng-click="showContact()">Click here to raise a request </a></span> -->
							</p>
							<a id="id.nh1fv7itoovm"></a>
							<p class="c9">
								<span class="c4">Want to change my registered mobile number</span>
							</p>
							<p class="c12">
							<div class="c7">Don&#39;t worry. We will try our best to
								help you! Please contact Indepay customer care for immediate
								help. Ensure that you share the reason for change and new mobile number
								details as well for us to assist you better.</div>
							<!-- <span class="c11"><a href="#" ng-click="showContact()">Click here to raise a request</a></span> -->
							</p>
							<a id="id.ynpsksbh9tn6"></a>
							<p class="c9">
								<span class="c4">Wrong commitment given during sign-up</span>
							</p>
							<p class="c12">
							<div class="c7">Don&#39;t worry. We will try our best to
								help you! Please contact Indepay customer care for immediate
								help. Ensure that you share the related details as well for us
								to assist you better.</div>
							<!-- <span class="c11"><a href="#" ng-click="showContact()">Click here to raise a request</a></span> -->
							</p>
						</div>
					
		
						<!-- ################## -->
						
						
						
		<!-- ## Contact Form Start## -->				
		<!-- <div class="dashboard-counts no-padding-bottom" ng-show="displayContactForm" id="contact-area">
		<div class="container-fluid">
		<div class="row bg-white has-shadow">
		
		
		<div class="container-fluid">
				
		<h4>Tell us how to help you better</h4>
		
		<form class="form-horizontal" name="addContactUsForm"  id="addContactUsForm">
		
		<div class="form-group" ng-class="{ 'has-error' : addContactUsForm.contactName.$invalid &amp;&amp; !addContactUsForm.contactName.$pristine }">
			<label for="contactName" class="control-label"><span class="required">*</span>Name</label> 
			<input class="form-control" type="text" name="contactName" id="contactName" ng-model="contactName" maxlength="40"
													ng-pattern="/^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$/" required=""  placeholder="Enter your name"/>
			<p class="help-block pull-right" ng-show="addContactUsForm.contactName.$invalid &amp;&amp; !addContactUsForm.contactName.$pristine">The Name should contain only alphabets</p>
								
		</div>
		
		
		<div class="form-group" ng-class="{ 'has-error' : addContactUsForm.contactMobile.$invalid &amp;&amp; !addContactUsForm.contactMobile.$pristine }">
			<label for="contactMobile" class="control-label"><span class="required">*</span>Registered Contact No.</label> 
			<input class="form-control" type="text" name="contactMobile" id="contactMobile" ng-model="contactMobile" maxlength="10"
													ng-pattern="/^[123456789]\d{9}$/"  required="" placeholder="Enter your mobile number"/>
			<p ng-show="addContactUsForm.contactMobile.$invalid &amp;&amp; !addContactUsForm.contactMobile.$pristine"
			class="help-block pull-right">Must be a valid 10 digit phone number starts with 7 or 8 or 9</p>								
		</div>
		
		<div class="form-group" ng-class="{ 'has-error' : addContactUsForm.contactEmail.$invalid &amp;&amp; !addContactUsForm.contactEmail.$pristine }">
			<label for="contactEmail" class="control-label">Registered Email Address</label> 
			<input class="form-control" type="email" name="contactEmail" id="contactEmail" ng-model="contactEmail" maxlength="50" ng-pattern="email" placeholder="Enter email address"/>
			<p ng-show="addContactUsForm.contactEmail.$invalid &amp;&amp; !addContactUsForm.contactEmail.$pristine" 
			class="help-block pull-right">
			Must be a valid email address</p>								
		</div>
		
		<div class="form-group" ng-class="{ 'has-error' : addContactUsForm.issueType.$invalid &amp;&amp; !addContactUsForm.issueType.$pristine }">
			<label for="issueType" class="control-label"><span class="required">*</span>Issue Type</label> 
			<select class="selectpicker form-control" id="issueType" name="issueType" ng-model="issueType" required="">
				<option selected="selected" value="">Select Issue Type</option>
					<option value="Certificate">Certificate</option>
					<option value="Cash Pickup">Cash Pickup</option>
					<option value="Remittance">Remittance</option>
					<option value="Statement">Statement</option>
					<option value="Other">Other</option>
			</select>								
		</div>
									
		
		<div class="form-group" ng-class="{ 'has-error' : addContactUsForm.description.$invalid &amp;&amp; !addContactUsForm.description.$pristine }">
			<label for="description" class="control-label pull-left"><span class="required">*</span>Description</label> 
			<textarea class="form-control" name="description" id="description" ng-model="description" rows="3" required="" placeholder="Please describe briefly how can we help you"></textarea>
			<p ng-show="addContactUsForm.description.$invalid &amp;&amp; !addContactUsForm.description.$pristine"
			class="help-block pull-right">Please Enter description</p>								
		</div>
		
		<div class="form-group">
				
			<button class="btn btn-indepay" ng-click="submitContact()" ng-disabled="addContactUsForm.$invalid">Submit</button>
			<button type="reset" class="btn btn-indepay-info">Reset</button>
			<button class="btn pull-right btn-indepay" onclick="location.href='./help'">Back</button>
		</div>								
		
		</form>
		
		</div>		
		</div>
		</div>
		</div> -->
		<br></br>	
		<!-- ##### End Contact Form ######-->	
		
		
					
						
					</div>	
				</div>
			</div>
			<!-- <div ng-include="'footer'" /> -->
			<div th:include="footer::foot"></div>
		</div>
	</div>
</body>
</html>