<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Remittance Portal</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta name="robots" content="all,follow" />

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.default.css?v=1}" id="theme-stylesheet" />

<link rel="stylesheet" th:href="@{/lib/datatable/bootstrap-3.3.4.min.css}" />
<link rel="stylesheet" th:href="@{/lib/datatable/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/lib/datatable/ultimate-datatable-3.3.1-SNAPSHOT.css}" />

<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.1.12.1.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}" />
<link rel="shortcut icon" th:href="@{/img/favicon.ico}" />

<script type="text/javascript" th:src="@{/js/fontawesome.js}"></script>
<script type="text/javascript" th:src="@{/lib/angular-1.5.8/angular.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/angular-1.5.8/angular-cookies.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/angular-1.5.8/angular-messages.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/chart.js/dist/Chart.js}"></script>
<script type="text/javascript" th:src="@{/lib/angular-chart.js/dist/angular-chart.js}"></script>

<script type="text/javascript" th:src="@{/js/ui-bootstrap-tpls-0.12.1.js}"></script>
<script type="text/javascript" th:src="@{/customjs/remittance/master.js}"></script>
<script type="text/javascript" th:src="@{/customjs/remittance/dashboardController.js}"></script>
<script type="text/javascript" th:src="@{/customjs/remittance/RemittanceService.js}"></script>
<script type="text/javascript" th:src="@{/customjs/remittance/RemittanceFactory.js}"></script>
<script type="text/javascript" th:src="@{/customjs/remittance/limitReportController.js}"></script>
<script type="text/javascript" th:src="@{/lib/promise/promise-7.0.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dirPagination.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.1.12.1.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-sanitize.min.js}"></script>

<script type="text/javascript" th:src="@{/lib/promise/promise-7.0.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dirPagination.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.1.12.1.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/chartmin.js}"></script>
<script type="text/javascript" th:src="@{/js/front.js}"></script>

<script type="text/javascript" th:src="@{/lib/datatable/bootstrap-3.3.4.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/datatable/ultimate-datatable-3.3.1-SNAPSHOT.js}"></script>
<script type="text/javascript" th:src="@{/js/bootbox.min.version-4.4.0.js}"></script>

<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
.card-header h2{
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.1;
}
.card-body {
	padding: 1.25rem;
}
.h4 {
	margin-top: 0;
}
#payMode, #status {
	height: auto;
}
.form-control[readonly] {
	background-color: #fff;
}
.alert-dismissible .close {
	top: -.75rem !important;
}
th {
	text-align: center;
}
</style>
</head>
<body class="yFull">
	<div ng-app="masterApp" ng-controller="masterController">
		<div class="page home-page">
			<div th:include="header::head"></div>
			<div class="page-content d-flex align-items-stretch" style="margin-top: -15px;">
				<div th:include="nav::navmenu"></div>
				<div class="content-inner">
					<div class="container theme-showcase" ng-controller="limitReportCtrl" style="margin-right:auto;margin-left:auto;margin-bottom:3%;">
						<!-- ###### Code To be ADD ############ -->
						<br/>
						<section class="feeds no-padding-top">
							<div>
								<div ng-show="isErrorMsg">
									<div class="alert alert-danger alert-dismissible" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										{{errorMsg}}
									</div>
								</div>
								<div ng-if="isSuccessMsg">
									<div class="alert alert-success alert-dismissible" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										{{successMsg}}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="card" style="margin-bottom: 30px;">
											<div class="card-header d-flex align-items-center">
												<h3 class="h4">Request Limit Report</h3>
											</div>
											<div class="card-body">
												<form name="searchForm" id="searchForm" class="col-sm-12 ng-pristine ng-valid">
													<div class="form-row">
														<div class="form-group col-lg-3">
															<label class="form-control-label">Payment Mode</label>
                          									<select class="form-control" name="payMode" id="payMode" ng-model="payMode">
																<option value="">Select Payment Mode</option>
																<option ng-repeat="(key, value) in channels" value="{{key}}">{{value}}</option>
															</select>
														</div>
														<div class="col-lg-1"></div>
														<div class="form-group col-lg-3">
															<label class="form-control-label">Status</label>
                          									<select class="form-control" name="status" id="status" ng-model="status">
																<option value="">Select Status</option>
																<option value="RECEIVED">Pending</option>
																<option value="APPROVED">Approved</option>
																<option value="REJECTED">Rejected</option>
															</select>
														</div>
														<div class="col-lg-1"></div>
														<div class="form-group col-lg-3">
															<label class="form-control-label">Transaction Date</label>
                          									<input type="text" class="form-control" name="txnDate" id="txnDate" ng-model="txnDate" readonly="">
														</div>
													</div>
													<div class="form-row">
														<div class="form-group col-lg-3">
															<label for="from">Transaction - From Date</label>
															<input type="text" id="startDate" class="form-control" name="startDate" ng-model="startDate" readonly=""/>
														</div>
														<div class="col-lg-1"></div>
														<div class="form-group col-lg-3">
															<label for="to">Transaction - To Date</label>
															<input type="text" id="endDate" class="form-control" name="endDate" ng-model="endDate" readonly=""/>
														</div>
														<div class="col-lg-1"></div>
														<div class="form-group col-lg-3" style="padding-top: 24px;">
															<button id="search" class="btn btn-indepay col-sm-5" ng-click="searchLimits()" ng-disabled="searchForm.$invalid" style="padding: 6px 25px;">Search</button>
															<div class="col-sm-2"></div>
															<button type="reset" class="btn btn-indepay-info col-sm-5" ng-click="searchFormReset()" style="padding: 6px 25px;">RESET</button>
														</div>
													</div>
												</form>
                          					</div>
                          				</div>
									</div>
									
								</div>
								<!-- ###### Data Table ###### -->
								<div class="row">
									<div class="col-lg-12">
										<div class="card" style="margin-bottom: 30px;">
											<div class="card-body" ultimate-datatable="limitDatatable"></div>
                          				</div>
									</div>
								</div>
								<!-- #### End Data Table ###### -->
							</div>
						</section>
						<!-- ###### Code Ends Here ############ -->
					</div>
				</div>
			</div>
		</div>
		<div th:include="footer::foot"></div>
	</div>
</body>
</html>