<!DOCTYPE html>
<!-- <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" /> -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Remittance Portal</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta name="robots" content="all,follow" />

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.default.css?v=1.0}" id="theme-stylesheet" />

<link rel="stylesheet" th:href="@{/lib/datatable/bootstrap-3.3.4.min.css}" />
<link rel="stylesheet" th:href="@{/lib/datatable/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/lib/datatable/ultimate-datatable-3.3.1-SNAPSHOT.css}" />

<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css?v=1.0}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.1.12.1.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css?v=1.0}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}" />
<link rel="shortcut icon" th:href="@{/img/favicon.ico}" />

<script type="text/javascript" th:src="@{/js/fontawesome.js}"></script>
<script type="text/javascript" th:src="@{/lib/angular-1.5.8/angular.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/angular-1.5.8/angular-cookies.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/angular-1.5.8/angular-messages.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/chart.js/dist/Chart.js}"></script>
<script type="text/javascript" th:src="@{/lib/angular-chart.js/dist/angular-chart.js}"></script>

<script type="text/javascript" th:src="@{/js/ui-bootstrap-tpls-0.12.1.js}"></script>
<script type="text/javascript" th:src="@{/customjs/remittance/master.js}"></script>
<script type="text/javascript" th:src="@{/customjs/remittance/dashboardController.js?v=1.0}"></script>
<script type="text/javascript" th:src="@{/customjs/remittance/RemittanceService.js}"></script>
<script type="text/javascript" th:src="@{/customjs/remittance/RemittanceFactory.js}"></script>
<script type="text/javascript" th:src="@{/customjs/remittance/limitRequestController.js?v=0.1}"></script>
<script type="text/javascript" th:src="@{/lib/promise/promise-7.0.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dirPagination.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.1.12.1.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-sanitize.min.js}"></script>

<script type="text/javascript" th:src="@{/lib/promise/promise-7.0.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dirPagination.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.1.12.1.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/chartmin.js}"></script>
<script type="text/javascript" th:src="@{/js/front.js}"></script>

<script type="text/javascript" th:src="@{/lib/datatable/bootstrap-3.3.4.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/datatable/ultimate-datatable-3.3.1-SNAPSHOT.js}"></script>
<script type="text/javascript" th:src="@{/js/bootbox.min.version-4.4.0.js}"></script>
<script th:src="@{/js/sha256.js}"></script>
<script type="text/javascript" th:src="@{/customjs/remittance/FileModel.js}"></script>

<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
.card-header h2{
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.1;
}
.card-body {
	padding: 1.25rem;
}
#payMode, #bankName, #entries {
	height: auto;
}
label.form-control-static {
	font-weight: bold;
}
.h4 {
	margin-top: 0;
}
.table {
	margin-bottom: 0;
}
.alert-dismissible .close {
	top: -.75rem !important;
}
label > i {
	color: #f00;
}
.table>thead>tr>th {
	text-align: center;
}
.table>tbody>tr>td, .table>thead>tr>th {
	vertical-align: middle;
     text-align: center;
}
@media (min-width: 992px) {
	.col-md-3 {
		padding-left: 4em;
	}
}
</style>
</head>
<body class="yFull">
	<div ng-app="masterApp" ng-controller="masterController">
		<div class="page home-page">
			<div th:include="header::head"></div>
			<div class="page-content d-flex align-items-stretch" style="margin-top: -15px;">
				<div th:include="nav::navmenu"></div>
				<div class="content-inner">
					<div class="container theme-showcase" ng-controller="limitReqCtrl" style="margin-right:auto;margin-left:auto;margin-bottom:3%;">
						<!-- ###### Code To be ADD ############ -->
						<br/>
						<section class="feeds no-padding-top">
							<div class="container-fluid">
								<div ng-show="isErrorMsg">
									<div class="alert alert-danger alert-dismissible" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										{{errorMsg}}
									</div>
								</div>
								<div ng-if="isSuccessMsg">
									<div class="alert alert-success alert-dismissible" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										{{successMsg}}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="card" style="margin-bottom: 30px;">
											<div class="card-header d-flex align-items-center">
												<h3 class="h4">Request Limit Details</h3>
											</div>
											<div class="card-body">
												<form name="requestForm" novalidate=""><fieldset ng-disabled="isClicked">
													<div class="form-group" ng-class="{ 'has-error' : requestForm.date.$invalid &amp;&amp; !requestForm.date.$pristine }">
                          								<label class="form-control-label">Deposit Date<i>*</i></label>
                          								<input type="text" class="form-control" name="date" id="date" ng-model="date" placeholder="dd/mm/yyyy" required="" maxlength="10" autocomplete="off" readonly="">
                          								<p ng-show="requestForm.date.$invalid &amp;&amp; !requestForm.date.$pristine" class="help-block">Please select valid date</p>
                          							</div>
                          							<div class="form-group" ng-class="{ 'has-error' : requestForm.payMode.$invalid &amp;&amp; !requestForm.payMode.$pristine }">
                          								<label class="form-control-label">Payment Mode<i>*</i></label>
                          								<select class="form-control" name="payMode" id="payMode" ng-model="payMode" ng-change="check(payMode)" required="">
															<option value="">Select Payment Mode</option>
															<option ng-repeat="(key, value) in channels" value="{{key}}">{{value}}</option>
														</select>
                          								<p ng-show="requestForm.payMode.$invalid &amp;&amp; !requestForm.payMode.$pristine" class="help-block">Please choose payment mode</p>
                          							</div>
                          							<div class="form-group" ng-class="{ 'has-error' : requestForm.bankName.$invalid &amp;&amp; !requestForm.bankName.$pristine }">
                          								<label class="form-control-label">Indepay Bank Account<i>*</i></label>
                          								<select class="form-control" name="bankName" id="bankName" ng-model="bankName" required="">
															<option value="">Select Indepay Bank</option>
															<option ng-repeat="bank in banks" value="{{bank.accountId}}">{{bank.bank}}</option>
														</select>
                          								<p ng-show="requestForm.bankName.$invalid &amp;&amp; !requestForm.bankName.$pristine" class="help-block">Please choose a Indepay Bank</p>
                          							</div>
                          							<div class="form-group" ng-class="{ 'has-error' : requestForm.branch.$invalid &amp;&amp; !requestForm.branch.$pristine }">
                          								<label class="form-control-label">Branch Name where Money Deposits</label>
                          								<input type="text" class="form-control" name="branch" id="branch" ng-model="branch" placeholder="Enter Branch Name where Money Deposits" maxlength="30" autocomplete="off">
                          								<p ng-show="requestForm.branch.$invalid &amp;&amp; !requestForm.branch.$pristine" class="help-block">Please enter valid Branch Name</p>
                          							</div>
                          							<div class="form-group" ng-class="{ 'has-error' : requestForm.txnId.$invalid &amp;&amp; !requestForm.txnId.$pristine }">
                          								<label class="form-control-label">Bank Transaction No<i id="tid" style="display: none;">*</i></label>
                          								<input type="text" class="form-control" name="txnId" id="txnId" ng-model="txnId" placeholder="Enter Bank Transaction No" ng-pattern="/^[1-9]\d{1,29}$/" maxlength="30" ng-required="isTxnReq" autocomplete="off">
                          								<p ng-show="requestForm.txnId.$invalid &amp;&amp; !requestForm.txnId.$pristine" class="help-block">Please enter valid Bank Transaction No</p>
                          							</div>
                          							<div class="form-group" ng-class="{ 'has-error' : requestForm.amount.$invalid &amp;&amp; !requestForm.amount.$pristine }">
                          								<label class="form-control-label">Amount<i>*</i></label>
                          								<input type="text" class="form-control" name="amount" id="amount" ng-model="amount" placeholder="Enter Amount" ng-pattern="/^[1-9]\d{1,5}$/" maxlength="6" required="" autocomplete="off">
                          								<p ng-show="requestForm.amount.$invalid &amp;&amp; !requestForm.amount.$pristine" class="help-block">Please enter valid Amount</p>
                          							</div>
                          							<div class="form-group" ng-class="{ 'has-error' : requestForm.narration.$invalid &amp;&amp; !requestForm.narration.$pristine }">
                          								<label class="form-control-label">Narration<i>*</i></label>
                          								<input type="text" class="form-control" name="narration" id="narration" ng-model="narration" placeholder="Enter Narration" required="" maxlength="100" autocomplete="off">
                          								<p ng-show="requestForm.narration.$invalid &amp;&amp; !requestForm.narration.$pristine" class="help-block">Narration should not be empty</p>
                          							</div>
                          							<div class="form-group" ng-class="{ 'has-error' : requestForm.upload.$invalid &amp;&amp; !requestForm.upload.$pristine }">
														<label class="form-control-label">Upload Reciept<i id="upd" style="display: none;">*</i></label>
														<input type="file" name="upload" id="upload" file-model="upload" ng-model="upload" placeholder="Upload File" accept="image/*" ng-required="isImgReq">
                          								<p ng-show="requestForm.upload.$invalid &amp;&amp; !requestForm.upload.$pristine" class="help-block">Please upload receipt</p>
													</div>
                          							<div class="form-group">
                          								<button type="submit" class="btn btn-indepay btn-block" ng-click="requestLimit(requestForm)" ng-disabled="requestForm.$invalid || requestForm.$pristine" id="limitSub">Submit</button>
                          							</div></fieldset>
                          						</form>
                          					</div>
                          				</div>
									</div>
									
									<div class="col-lg-6">
										<div class="card" style="margin-bottom: 30px;">
											<div class="card-header d-flex align-items-center">
												<h3 class="h4">Bank Account Detail</h3>
											</div>
											<div class="card-body">
												<form class="form-horizontal">
													<div class="form-group row">
														<div class="col-sm-1"></div>
                          								<label class="col-sm-3 form-control-static">Account Name</label>
                          								<p class="col-sm-8 form-control-static">{{accInfo.accountName}}</p>
                          							</div>
                          							<div class="form-group row">
														<div class="col-sm-2"></div>
                          								<label class="col-sm-2 form-control-static">PAN No</label>
                          								<p class="col-sm-8 form-control-static">{{accInfo.pan}}</p>
                          							</div>
                          							<div class="form-group row">
														<div class="col-sm-2 col-md-1"></div>
                          								<label class="col-sm-2 col-md-3 form-control-static">GSTN No</label>
                          								<p class="col-sm-8 form-control-static">{{accInfo.gstn}}</p>
                          							</div>
                          						</form>
                          						<div class="table-responsive">
                          							<table class="table table-striped table-hover">
                          								<thead>
                          									<tr><th>Bank Name</th><th>Branch Name</th><th>IFSC Code</th><th>Account No</th></tr>
                          								</thead>
                          								<tbody>
                          									<tr ng-if="banks.length <=0"><td colspan="4" class="text-center">No data found</td></tr>
                          									<tr ng-if="banks.length > 0" ng-repeat="bank in banks">
                          										<td scope="row">{{bank.bank}}</td><td>{{bank.branch}}</td><td>{{bank.ifsc}}</td><td>{{bank.accountNo}}</td>
                          									</tr>
                          								</tbody>
                          							</table>
                          						</div>
                          					</div>
                          				</div>
                          				<div class="card">
                          					<div class="card-close">
                          						<div class="dropdown">
                          							<button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                          								No of Entries <i class="fa fa-caret-down"></i>
                          							</button>
                          							<div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow">
                          								<a href="#" class="dropdown-item" ng-click="getMiniStatement('5')">5</a>
                          								<a href="#" class="dropdown-item" ng-click="getMiniStatement('10')">10</a>
                          								<a href="#" class="dropdown-item" ng-click="getMiniStatement('15')">15</a>
                          								<a href="#" class="dropdown-item" ng-click="getMiniStatement('20')">20</a>
                          							</div>
                          						</div>
                    						</div>
											<div class="card-header d-flex align-items-center">
												<h3 class="h4">Mini Statement</h3>
											</div>
											<div class="card-body">
                          						<div class="table-responsive">
                          							<table class="table table-striped table-hover">
                          								<thead>
                          									<tr><th>Ref ID</th><th>Txn ID</th><th width="15%">Amount</th><th>Narration</th><th>Timestamp</th><th>Status</th></tr>
                          								</thead>
                          								<tbody>
                          									<tr ng-if="miniStmts.length<=0"><td colspan="6" class="text-center">No Data Found</td></tr>
                          									<tr ng-if="miniStmts.length>0" ng-repeat="mini in miniStmts">
                          										<td scope="row">{{mini.requestId}}</td>
                          										<td>{{mini.tranIdentifier}}</td>
                          										<td>&#8377; {{mini.amountInPaisa / 100}}</td>
                          										<td>{{mini.notes}}</td>
                          										<td>{{mini.createdOn | date:'dd-MM-yyyy hh:mm:ss a'}}</td>
                          										<td>{{mini.status.replace('RECEIVED', 'PENDING')}}</td>
                          									</tr>
                          								</tbody>
                          							</table>
                          						</div>
                          					</div>
                          				</div>
									</div>
								</div>
							</div>
						</section>
						<!-- ###### Code Ends Here ############ -->
					</div>
				</div>
			</div>
		</div>
		<div th:include="footer::foot"></div>
	</div>
</body>
</html>