<!DOCTYPE html>
<!-- <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" /> -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Remittance Portal</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="all,follow" />


<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/style.default.css}" id="theme-stylesheet" />

<link rel="stylesheet"
	th:href="@{/lib/datatable/bootstrap-3.3.4.min.css}" />
<link rel="stylesheet" th:href="@{/lib/datatable/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/lib/datatable/font-awesome.css}" />
<link rel="stylesheet"
	th:href="@{/lib/datatable/ultimate-datatable-3.3.1-SNAPSHOT.css}" />

<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery-ui.1.12.1.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}" />
<link rel="shortcut icon" th:href="@{/img/favicon.ico}" />

<link rel="stylesheet" type="text/css"  th:href="@{/css/Exportall.min.css}" />

<script type="text/javascript" th:src="@{/js/fontawesome.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/angular-1.5.8/angular.min.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/angular-1.5.8/angular-cookies.min.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/angular-1.5.8/angular-messages.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/chart.js/dist/Chart.js}"></script>
<script type="text/javascript" th:src="@{/lib/angular-chart.js/dist/angular-chart.js}"></script>
<script type="text/javascript" th:src="@{/js/chartmin.js}"></script>
<script type="text/javascript"
	th:src="@{/js/ui-bootstrap-tpls-0.12.1.js}"></script>
<script type="text/javascript"
	th:src="@{/customjs/remittance/master.js}"></script>
<script type="text/javascript"
	th:src="@{/customjs/remittance/dashboardController.js}"></script>
<script type="text/javascript"
	th:src="@{/customjs/remittance/myOutboxController.js}"></script>
<script type="text/javascript"
	th:src="@{/customjs/remittance/RemittanceService.js}"></script>
<script type="text/javascript"
	th:src="@{/customjs/remittance/RemittanceFactory.js}"></script>
<script type="text/javascript"
	th:src="@{/lib/promise/promise-7.0.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dirPagination.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.1.12.1.js}"></script>

<script type="text/javascript" th:src="@{/lib/promise/promise-7.0.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dirPagination.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.1.12.1.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/chartmin.js}"></script>
<script type="text/javascript" th:src="@{/js/front.js}"></script>
<script type="text/javascript" th:src="@{/js/angular-sanitize.min.js}"></script>

<script type="text/javascript" th:src="@{/lib/datatable/bootstrap-3.3.4.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/datatable/ultimate-datatable-3.3.1-SNAPSHOT.js}"></script>
<script type="text/javascript" th:src="@{/js/bootbox.min.version-4.4.0.js}"></script>
<script type="text/javascript" th:src="@{/js/sha256.js}"></script>

<script type="text/javascript" th:src="@{/js/Exportshieldui-all.min.js}"></script>
<script type="text/javascript" th:src="@{/js/Exportjszip.min.js}"></script>

<style type="text/css">
.progress {
  margin-bottom: 0;
}
.modal-body-pad0 {
padding: 0;
}
.fa-file-excel-o, .fa-file-pdf-o {
  font-size: 1.5em;
}
.col-xs-2 {
    width: 64%;
}
</style>

</head>
<body class="yFull">
	<div ng-app="masterApp" ng-controller="masterController">
		<div class="page home-page">
			<!-- Main Navbar-->
			<!-- <div ng-include="'header'" /> -->
			<div th:include="header::head"></div>
			<div class="page-content d-flex align-items-stretch" style="margin-top: -15px;">
				<!-- Side Navbar -->
				<!-- <div ng-include="'nav'" /> -->
				<div th:include="nav::navmenu"></div>
				<div class="content-inner">
					<div class="container theme-showcase" ng-controller="myOutboxController" style="margin-right:auto;margin-bottom:3%;margin-left:auto;">
						<!-- ### data display -->
					<div style="display:none">
							<table id ="data">
							<thead>
									<tr>
										<th>TransactionDate</th>
										<th>ReferenceNo</th>
										<th>CustRefId</th>
										<th>Narration</th>
										<th>Debit</th>
										<th>Credit</th>
										<th>Balance</th>
									</tr>
								</thead>
								<tbody id="item">
									<tr ng-repeat="doc in docDefinition">
								        <td>{{doc.dateTime}}</td>
								        <td>{{doc.refNo}}</td>
								        <td>{{doc.custRefNo}}</td>
								        <td>{{doc.narration}}</td>
								        <td ng-if="doc.type == 'DEBIT'">{{doc.amount}}</td>
								         <td ng-if="doc.type != 'DEBIT'"></td>
								        <td ng-if="doc.type == 'CREDIT'">{{doc.amount}}</td>
										<td ng-if="doc.type != 'CREDIT'"></td>								        
								        <td>{{doc.balance}}</td>
								       </tr>
								</tbody>
							</table>
						</div>

						<!-- ###### Data Table ###### -->
						<br/>
						<div id="scrolly" class="dashboard-counts no-padding-bottom ng-cloak bg-white"
							ng-show="dataTableDiv" style="width:auto">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12">
										<h3>My Outbox</h3>
									</div>
									<div class="row col-sm-12 col-md-12 col-lg-12">
										<br></br>
										<div class="col-lg-12" ultimate-datatable="outboxDatatable"></div>
									</div>

								</div>
							</div>
						</div>
						<!-- #### End Data Table ###### -->

					</div>
				</div>
				
				
				<!-- Statement Print -->
						<div ng-show="false">
							<div id="printable">
								<br /> <br />
								<div class="row">
									<div class="col-sm-12">

										<div class="">
											<img class="img-responsive"
												src="../img/Indepay-Logo-Horizontal(1).png" width="200px;"
												height="" />
										</div>
									</div>
									<br /> <br />
									<div class="col-md-6">
										<code>Fund Transfer Receipt</code>
									</div>
								</div>
								<br></br>
								<div class="row">
									<div class="col-sm-6" style="width: 60%">

										<strong>Sender Info</strong>
										<table>
											<tbody>
												<tr class="panel-heading">
													<td width="100px">Name</td>
													<td width="250px">{{printData.remittance.remitterName}}</td>
												</tr>
												<tr>
													<td width="100px">Mobile No</td>
													<td width="250px">{{printData.remittance.remitterMobileNumber}}</td>
												</tr>

											</tbody>
										</table>
										<br /> <strong>Transaction Info</strong>
										<table>
											<tbody>
												<tr class="panel-heading">
													<td width="150px">Transaction Info</td>
													<td width="250px">Cash Service</td>
												</tr>
												<tr>
													<td width="150px">Transaction Status</td>
													<td width="250px">{{printData.customStatus}}</td>
												</tr>
												<tr>
													<td width="150px">RRN/UTR No.</td>
													<td width="250px">manualReplace.remittance.retrievedRRN</td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="col-sm-6" style="width: 40%; text-align: left;">

										<strong>Beneficiary Info</strong>
										<table>
											<tbody>
												<tr class="panel-heading">
													<td width="200px">Name</td>
													<td width="250px">{{printData.remittance.beneficiaryName}}</td>
												</tr>
												<tr>
													<td width="200px">Mobile No</td>
													<td width="250px">{{printData.remittance.beneMobileNumber}}</td>
												</tr>
												<tr>
													<td width="200px">Bank Name</td>
													<!-- Dirty way: manually replace the below string from js -->
													<td width="250px">manualReplace.remittance.retrievedBankName</td>
												</tr>
												<tr>
													<td width="200px">A/c No</td>
													<td width="250px">{{printData.accountNumber}}</td>
												</tr>
												<tr>
													<td width="200px">IFSC Code</td>
													<td width="250px">{{printData.ifsc}}</td>
												</tr>

											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6" style="width: 60%">
										<br /> <br />
										<table class="table-bordered" width="95%">
											<thead>
												<tr class="panel-heading">
													<td width="130px"><strong>Reference ID</strong></td>
													<td width="130px"><strong>Txn Amount</strong></td>
													<td width="130px"><strong>Date</strong></td>
													<td width="100px"><strong>Time</strong></td>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td width="130px">{{ printData.custRefId }}</td>
													<td width="130px">{{(printData.tranAmount)/100.0}}</td>
													<td width="130px">{{printData.creationTime |
														date:'dd-MMM-yyyy'}}</td>
													<td width="100px">{{printData.creationTime |
														date:'HH:mm:ss'}}</td>
												</tr>

											</tbody>
										</table>
									</div>

									<div class="col-sm-6" style="width: 40%; text-align: left;">
										<br /> <strong>Agent Details</strong>
										<table>
											<tbody>
												<tr class="panel-heading">
													<td width="200px">Mobile No</td>
													<td width="250px">{{user.mobileNumber}}</td>
												</tr>
												<tr>
													<td width="200px">Agent Name</td>
													<td width="250px">{{user.firstName}}</td>
												</tr>
												<tr>
													<td width="200px">Est. Name</td>
													<td width="250px">{{user.shopName}}</td>
												</tr>
												<tr>
													<td width="200px">Address</td>
													<td width="250px">{{user.address}}</td>
												</tr>

											</tbody>
										</table>
									</div>
								</div>
								<div class="col-sm-12" style="padding-left: 0px;">
									<br /> <br />
									<p style="margin: 0;">
										<strong>Note:</strong> This is a computer-generated receipt
										and do not need signature
									</p>
									<p ng-show="printData.customStatus == 'In Progress*'">
										<strong>*</strong> The Transaction has been initiated and the
										status will be updated in 5 working days.
									</p>
								</div>
							</div>
						</div>
				
				
				
				
				
			</div>
			<!-- <div ng-include="'footer'" /> -->
			<div th:include="footer::foot"></div>
			
		</div>
	</div>
</body>
</html>