<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Indepay Remittance Portal</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/fontastic.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" />
    <link rel="stylesheet" th:href="@{/css/style.default.css}" id="theme-stylesheet" />
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" />
    
    <script type="text/javascript" th:src="@{/lib/angular-1.5.8/angular.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/angular-1.5.8/angular-cookies.min.js}"></script>	
    <script type="text/javascript" th:src="@{/lib/promise/promise-7.0.4.min.js}" ></script>
    	
    <script type="text/javascript" th:src="@{/customjs/remittance/RemittancePortalApp.js}"></script>
	<script type="text/javascript" th:src="@{/customjs/remittance/RemittanceController.js}"></script>
	<script type="text/javascript" th:src="@{/customjs/remittance/RemittanceFactory.js}"></script>
    
    
  </head>
  <body>
    <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                  	<h1>
                  	<img class="img-responsive" src="../img/indepay-color-logo.png" width="40px;" height=""/>
                    Remittance Portal
                    </h1>             
              	</div>
                  <p>Simplest way to view and manage your account.</p>
                  <span>
                	<img class="img-responsive pull-right" src="../img/indepay-make-rewarding-logo.png"  height="" width="45%"/>
                  </span> 
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center" ng-app="remittancePortalApp">
                <div class="content"  ng-controller="remittanceController">
                  <form id="login-form" th:action="@{/remittance/remittancelogout}" method="post">
                                            
                    <div class="alert alert-info">
                        You have been logged out from portal.
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights text-center">
      	<p style="color:#796AEE">Design by <a href="http://www.indepay.com/" class="external">Indepay Networks</a></p>
        <!-- <p>Design by <a href="http://www.indepay.com/" class="external">Indepay Networks</a></p> -->
      </div>
    </div>
    <!-- Javascript files-->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/js/popper.min.js}"> </script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.cookie.js}"> </script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/front.js}"></script>
    <script th:src="@{/js/sha256.js}"></script>
    <script type="text/javascript">
	    function convertToHash() {
	    	try {
	    		document.getElementById("login-password").value = sha256(document.getElementById("login-password").value);
	    		document.getElementById("otpLogin").value = sha256(document.getElementById("otpLogin").value);
	    	}catch(e) {
	    		alert(e);
	    	}
	    }
    </script>
  </body>
</html>